
<ion-view>
		<!-- <ion-content class="first1" delegate-handle="page1" scrollbar-y="false" on-scroll="aaaa()">
			
			<ul class="page1">
				<li ng-repeat="list1 in list1s">{{list1}}</li>
			</ul>
			<ul class="page2">
				<li ng-repeat="list in lists">{{list}}</li>
			</ul>
			<ul class="page3">
				<li ng-repeat="list1 in list1s">{{list1}}</li>
			</ul>
		</ion-content> -->


		<ion-content class="mapview" id="map-content" has-bouncing="true" delegate-handle="page1" scrollbar-y="false" on-scroll="scrollmap()">
			
			<div class="page1">
				<!-- <div id="mapbar6" class="mapbar"></div> -->
        		<div id="mapcircle{{mapbarlist}}"  ng-click="levelclick({{mapbarlist}})" ng-class="completedlevel > mapbarlist? 'mapcircle2' : 'mapcircle'" ng-repeat="mapbarlist in mapbarlists">{{mapbarlist}}</div>
        		
       			<img src="img/levelicon.png" id="locationimg" ng-style="animationfoot();"/>

       			<!-- <div class="level-explain-main" ng-if="levelclickflag"> -->
       			

			</div>

			
		</ion-content>
		<div class="level-explain-main" id="level-explain-main" ng-if="levelclickflag">
			        <div id="real-explain">
			            <img src="img/title/level_ground.png" class="level-popup-aa"/>
			            <img src="img/title/level/level{{level}}.png" class="level-popup-title"/>
			            <img src="img/title/contents/content{{level}}.png" class="level-popup-content"/>
			            <img src="img/title/number{{levelTitleList[level-1].number}}.png" class="level-popup-targetnumber"/>
			            <img src="img/title/number{{levelTitleList[level-1].time}}.png" class="level-popup-targettime"/>
			            <img src="img/title/Continue.png" class="level-popup-continue" ng-click="gotoGameview()"/>
			            <div class="level-popup-close" ng-click="onPopupClose()"></div>
			            
			        </div>
			</div>
		
</ion-view>