/* Empty. Add your own CSS if you like */
/*.page1{display: none;}*/


.mapview{}
.page1{position: relative; width: 100vw; background-image: url("../img/mapback.jpg"); background-size: 100% 100%; background-repeat: no-repeat; height: 380vw;}

.mapcircle{position: absolute;font-size: 4.5vw; width: 9vw;height: 9vw;border-radius: 5vw;background: white;
	color: black; border:1vw #e0e0df solid; /*text-align: center;*/ font-weight: bold; z-index: 100; 
	display: flex; align-items: center; justify-content: center;}
.mapbar{position: absolute;height: 1.2vh;background: white; /*width: 20vw;*/}
.moveleft{left:calc(20vw + 2.8vh); left:-webkit-calc(20vw + 2.8vh);}
.moveright{left:calc(45vw + 2.8vh); left:-webkit-calc(45vw + 2.8vh); }

.space{ width: 100%; height: 10px; top: 212vh; position: absolute;}
#mapcircle32{left: 54vw; bottom: 362vw; width: 16vw; height: 16vw; border-radius: 8vw; font-size: 7.5vw;}
#mapcircle31{left: 51vw; bottom: 330vw; width: 13vw; height: 13vw; border-radius: 7vw; font-size: 7vw;}
#mapcircle30{left: 29vw; bottom: 322.5vw;}
#mapcircle29{left: 14vw; bottom: 312.5vw;}
#mapcircle28{left: 22.5vw; bottom: 299vw;}
#mapcircle27{left: 43vw; bottom: 294vw;}
#mapcircle26{left: 65.5vw; bottom: 287vw;}

#mapcircle25{left: 80vw; bottom:275.5vw;}
#mapcircle24{left: 64vw; bottom: 261vw;}
#mapcircle23{left: 44.5vw; bottom: 259vw;}
#mapcircle22{left: 25vw; bottom: 253vw;}
#mapcircle21{left: 27.5vw; bottom: 214vw;}
#mapcircle20{left: 44vw; bottom: 204vw;}
#mapcircle19{left: 66.5vw; bottom: 198vw;}
#mapcircle18{left: 53.5vw; bottom: 159.5vw;}
#mapcircle17{left: 40vw; bottom: 153vw;}
#mapcircle16{left: 28vw; bottom: 145vw;}
#mapcircle15{left: 22vw; bottom: 131.5vw;}
#mapcircle14{left: 36.5vw; bottom: 121.5vw;}
#mapcircle13{left: 52.5vw; bottom: 117.5vw;}
#mapcircle12{left: 63vw; bottom: 104vw;}
#mapcircle11{left: 71.5vw; bottom: 92vw;}
#mapcircle10{left: 65.5vw; bottom: 80.5vw;}
#mapcircle9{left: 48vw; bottom: 77.5vw;}
#mapcircle8{left: 15.5vw; bottom: 69.5vw;}
#mapcircle7{left: 5vw; bottom: 57.5vw;}
#mapcircle6{left: 20.5vw; bottom: 45.5vw;}
#mapcircle5{left: 37.5vw; bottom: 38.5vw;}
#mapcircle4{left: 55.5vw; bottom: 30vw;}
#mapcircle3{left: 62vw; bottom: 17.5vw;}
#mapcircle2{left: 52vw; bottom: 8vw;}
#mapcircle1{left: 35vw; bottom: 3.5vw; }

#locationimg {
	position: absolute;
	width: 9vw; background-repeat: no-repeat; z-index: 110;
	animation-duration: 3s;
	-webkit-animation-duration: 3s; 

}



.startmain{
	width: 100vw; height: 100vh; background: url("../img/start.jpg"); background-repeat: no-repeat;
	background-size: 100% 100%;
}

.startbutton{
	position: absolute; left: 53vw; top: 45vw;
	width: 10vw;
}

.videoclass{
	width: 100vw; height: 100vh; 
}
.videowrapper{
	width: 100vw; height: 100vh; position: absolute; top: 0px; z-index: 20; background: url("../img/video/video3.mp4");
}


.over-lay{
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	min-width: 100vw; min-height: 100vh;
	background: rgba(19,19,19,.5);
}

video{
	position: fixed; right: 0; bottom: 0;
    min-width: 100%; min-height: 100%;
    width: 100vw; height: 100vh; z-index: -100;
    background: url(polina.jpg) no-repeat;
    background-size: cover;
}

/*@-webkit-keyframes animationfoot{
	from{top: 0px; opacity: 0}
	to{top: 85%; opacity: 1}
}*/

/*#mapbar29{ top: 8.1vh;}
#mapbar28{ top: 15.1vh;}
#mapbar27{ top: 22.1vh;}
#mapbar26{top: 29.1vh;}
#mapbar25{top: 36.1vh;}
#mapbar24{top: 43.1vh;}
#mapbar23{top: 50.1vh;}
#mapbar22{top: 57.1vh;}
#mapbar21{top: 64.1vh;}
#mapbar20{top: 71.1vh;}
#mapbar19{top: 78.1vh;}
#mapbar18{top: 85.1vh;}
#mapbar17{top: 92.1vh;}
#mapbar16{top: 99.1vh;}
#mapbar15{top: 106.1vh;}
#mapbar14{top: 113.1vh;}

#mapbar13{top: 120.1vh;}
#mapbar12{top: 127.1vh;}
#mapbar11{top: 134.1vh;}
#mapbar10{top: 141.1vh;}

#mapbar9{top: 148.1vh;}
#mapbar8{top: 155.1vh;}
#mapbar7{top: 162.1vh;}
#mapbar6{top: 169.1vh;}
#mapbar5{top: 176.1vh;}
#mapbar4{top: 183.1vh;}
#mapbar3{top: 190.1vh;}
#mapbar2{top: 197.1vh;}
#mapbar1{top: 204.1vh;}*/


















