<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anspro</key>
	<array>
		<dict>
			<key>1</key>
			<string>value</string>
			<key>x1</key>
			<string>1</string>
			<key>y1</key>
			<string>2</string>
			<key>x2</key>
			<string></string>
			<key>y2</key>
			<string></string>
			<key>op</key>
			<string></string>
			<key>answer</key>
			<string>0.5</string>
		</dict>
		<dict>
			<key>2</key>
			<string>value</string>
			<key>x1</key>
			<string>1</string>
			<key>y1</key>
			<string>3</string>
			<key>x2</key>
			<string></string>
			<key>y2</key>
			<string></string>
			<key>op</key>
			<string></string>
			<key>answer</key>
			<string>0.3 </string>
		</dict>
		<dict>
			<key>3</key>
			<string>value</string>
			<key>x1</key>
			<string>2</string>
			<key>y1</key>
			<string>3</string>
			<key>x2</key>
			<string></string>
			<key>y2</key>
			<string></string>
			<key>op</key>
			<string></string>
			<key>answer</key>
			<string>0.6 </string>
		</dict>
		<dict>
			<key>4</key>
			<string>value</string>
			<key>x1</key>
			<string>1</string>
			<key>y1</key>
			<string>4</string>
			<key>x2</key>
			<string></string>
			<key>y2</key>
			<string></string>
			<key>op</key>
			<string></string>
			<key>answer</key>
			<string>0.25</string>
		</dict>
		<dict>
			<key>5</key>
			<string>value</string>
			<key>x1</key>
			<string>3</string>
			<key>y1</key>
			<string>4</string>
			<key>x2</key>
			<string></string>
			<key>y2</key>
			<string></string>
			<key>op</key>
			<string></string>
			<key>answer</key>
			<string>0.75</string>
		</dict>
	</array>
</dict>
</plist>
