<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anspro</key>
	<array>
		<dict>
			<key>1</key>
			<string>value</string>
			<key>x1</key>
			<string>2(11)</string>
			<key>answer</key>
			<string>22</string>
		</dict>
		<dict>
			<key>2</key>
			<string>value</string>
			<key>x1</key>
			<string>2(12)</string>
			<key>answer</key>
			<string>24</string>
		</dict>
		<dict>
			<key>3</key>
			<string>value</string>
			<key>x1</key>
			<string>2(13)</string>
			<key>answer</key>
			<string>26</string>
		</dict>
		<dict>
			<key>4</key>
			<string>value</string>
			<key>x1</key>
			<string>3(11)</string>
			<key>answer</key>
			<string>33</string>
		</dict>
		<dict>
			<key>5</key>
			<string>value</string>
			<key>x1</key>
			<string>3(12)</string>
			<key>answer</key>
			<string>36</string>
		</dict>
		<dict>
			<key>6</key>
			<string>value</string>
			<key>x1</key>
			<string>3(13)</string>
			<key>answer</key>
			<string>39</string>
		</dict>
		<dict>
			<key>7</key>
			<string>value</string>
			<key>x1</key>
			<string>4(11)</string>
			<key>answer</key>
			<string>44</string>
		</dict>
		<dict>
			<key>8</key>
			<string>value</string>
			<key>x1</key>
			<string>4(12)</string>
			<key>answer</key>
			<string>48</string>
		</dict>
		<dict>
			<key>9</key>
			<string>value</string>
			<key>x1</key>
			<string>4(13)</string>
			<key>answer</key>
			<string>52</string>
		</dict>
		<dict>
			<key>10</key>
			<string>value</string>
			<key>x1</key>
			<string>5(11)</string>
			<key>answer</key>
			<string>55</string>
		</dict>
		<dict>
			<key>11</key>
			<string>value</string>
			<key>x1</key>
			<string>5(12)</string>
			<key>answer</key>
			<string>60</string>
		</dict>
		<dict>
			<key>12</key>
			<string>value</string>
			<key>x1</key>
			<string>5(13)</string>
			<key>answer</key>
			<string>65</string>
		</dict>
		<dict>
			<key>13</key>
			<string>value</string>
			<key>x1</key>
			<string>6(11)</string>
			<key>answer</key>
			<string>66</string>
		</dict>
		<dict>
			<key>14</key>
			<string>value</string>
			<key>x1</key>
			<string>6(12)</string>
			<key>answer</key>
			<string>72</string>
		</dict>
		<dict>
			<key>15</key>
			<string>value</string>
			<key>x1</key>
			<string>6(13)</string>
			<key>answer</key>
			<string>78</string>
		</dict>
		<dict>
			<key>16</key>
			<string>value</string>
			<key>x1</key>
			<string>7(11)</string>
			<key>answer</key>
			<string>77</string>
		</dict>
		<dict>
			<key>17</key>
			<string>value</string>
			<key>x1</key>
			<string>7(12)</string>
			<key>answer</key>
			<string>84</string>
		</dict>
		<dict>
			<key>18</key>
			<string>value</string>
			<key>x1</key>
			<string>7(13)</string>
			<key>answer</key>
			<string>91</string>
		</dict>
		<dict>
			<key>19</key>
			<string>value</string>
			<key>x1</key>
			<string>8(11)</string>
			<key>answer</key>
			<string>88</string>
		</dict>
		<dict>
			<key>20</key>
			<string>value</string>
			<key>x1</key>
			<string>8(12)</string>
			<key>answer</key>
			<string>96</string>
		</dict>
		<dict>
			<key>21</key>
			<string>value</string>
			<key>x1</key>
			<string>8(13)</string>
			<key>answer</key>
			<string>104</string>
		</dict>
		<dict>
			<key>22</key>
			<string>value</string>
			<key>x1</key>
			<string>9(11)</string>
			<key>answer</key>
			<string>99</string>
		</dict>
		<dict>
			<key>23</key>
			<string>value</string>
			<key>x1</key>
			<string>9(12)</string>
			<key>answer</key>
			<string>108</string>
		</dict>
		<dict>
			<key>24</key>
			<string>value</string>
			<key>x1</key>
			<string>9(13)</string>
			<key>answer</key>
			<string>117</string>
		</dict>
		<dict>
			<key>25</key>
			<string>value</string>
			<key>x1</key>
			<string>10(11)</string>
			<key>answer</key>
			<string>110</string>
		</dict>
		<dict>
			<key>26</key>
			<string>value</string>
			<key>x1</key>
			<string>10(12)</string>
			<key>answer</key>
			<string>120</string>
		</dict>
		<dict>
			<key>27</key>
			<string>value</string>
			<key>x1</key>
			<string>10(13)</string>
			<key>answer</key>
			<string>130</string>
		</dict>
		<dict>
			<key>28</key>
			<string>value</string>
			<key>x1</key>
			<string>11(11)</string>
			<key>answer</key>
			<string>121</string>
		</dict>
		<dict>
			<key>29</key>
			<string>value</string>
			<key>x1</key>
			<string>11(12)</string>
			<key>answer</key>
			<string>132</string>
		</dict>
		<dict>
			<key>30</key>
			<string>value</string>
			<key>x1</key>
			<string>11(13)</string>
			<key>answer</key>
			<string>143</string>
		</dict><dict>
			<key>31</key>
			<string>value</string>
			<key>x1</key>
			<string>12(11)</string>
			<key>answer</key>
			<string>132</string>
		</dict>
		<dict>
			<key>32</key>
			<string>value</string>
			<key>x1</key>
			<string>12(12)</string>
			<key>answer</key>
			<string>144</string>
		</dict>
		<dict>
			<key>33</key>
			<string>value</string>
			<key>x1</key>
			<string>12(13)</string>
			<key>answer</key>
			<string>156</string>
		</dict>

		<dict>
			<key>34</key>
			<string>value</string>
			<key>x1</key>
			<string>13(11)</string>
			<key>answer</key>
			<string>143</string>
		</dict>
		<dict>
			<key>35</key>
			<string>value</string>
			<key>x1</key>
			<string>13(12)</string>
			<key>answer</key>
			<string>156</string>
		</dict>
		<dict>
			<key>36</key>
			<string>value</string>
			<key>x1</key>
			<string>13(13)</string>
			<key>answer</key>
			<string>169</string>
		</dict>

	</array>
</dict>
</plist>
