<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anspro</key>
	<array>
		<dict>
			<key>1</key>
			<string>value</string>
			<key></key>
			<string>12+3+10</string>
			<key>answer</key>
			<string>25</string>
		</dict>
		<dict>
			<key>2</key>
			<string>value</string>
			<key>x1</key>
			<string>14+6+1</string>
			<key>answer</key>
			<string>21</string>
		</dict>
		<dict>
			<key>3</key>
			<string>value</string>
			<key>x1</key>
			<string>8+3+12</string>
			<key>answer</key>
			<string>23</string>
		</dict>
		<dict>
			<key>4</key>
			<string>value</string>
			<key>x1</key>
			<string>3+13+12</string>
			<key>answer</key>
			<string>28</string>
		</dict>
		<dict>
			<key>5</key>
			<string>value</string>
			<key>x1</key>
			<string>12+7+8</string>
			<key>answer</key>
			<string>27</string>
		</dict>
		<dict>
			<key>6</key>
			<string>value</string>
			<key>x1</key>
			<string>2+8+11</string>
			<key>answer</key>
			<string>21</string>
		</dict>
		<dict>
			<key>7</key>
			<string>value</string>
			<key>x1</key>
			<string>7+8+4</string>
			<key>answer</key>
			<string>19</string>
		</dict>
		<dict>
			<key>8</key>
			<string>value</string>
			<key>x1</key>
			<string>8+6+2</string>
			<key>answer</key>
			<string>16</string>
		</dict>
		<dict>
			<key>9</key>
			<string>value</string>
			<key>x1</key>
			<string>7+8+15</string>
			<key>answer</key>
			<string>30</string>
		</dict>
		<dict>
			<key>10</key>
			<string>value</string>
			<key>x1</key>
			<string>5+10+15</string>
			<key>answer</key>
			<string>30</string>
		</dict>
		<dict>
			<key>11</key>
			<string>value</string>
			<key>x1</key>
			<string>5+10+3</string>
			<key>answer</key>
			<string>18</string>
		</dict>
		<dict>
			<key>12</key>
			<string>value</string>
			<key>x1</key>
			<string>15+3+2</string>
			<key>answer</key>
			<string>20</string>
		</dict>
		<dict>
			<key>13</key>
			<string>value</string>
			<key>x1</key>
			<string>13+5+7</string>
			<key>answer</key>
			<string>25</string>
		</dict>
		<dict>
			<key>14</key>
			<string>value</string>
			<key>x1</key>
			<string>19+1+14</string>
			<key>answer</key>
			<string>34</string>
		</dict>
		<dict>
			<key>15</key>
			<string>value</string>
			<key>x1</key>
			<string>6+1+4</string>
			<key>answer</key>
			<string>11</string>
		</dict>
		<dict>
			<key>16</key>
			<string>value</string>
			<key>x1</key>
			<string>7+2+13</string>
			<key>answer</key>
			<string>22</string>
		</dict>
		<dict>
			<key>17</key>
			<string>value</string>
			<key>x1</key>
			<string>7+14+1</string>
			<key>answer</key>
			<string>22</string>
		</dict>
		<dict>
			<key>18</key>
			<string>value</string>
			<key>x1</key>
			<string>10+2+5</string>
			<key>answer</key>
			<string>17</string>
		</dict>
		<dict>
			<key>19</key>
			<string>value</string>
			<key>x1</key>
			<string>4+1+6</string>
			<key>answer</key>
			<string>11</string>
		</dict>
		<dict>
			<key>20</key>
			<string>value</string>
			<key>x1</key>
			<string>9+6+15</string>
			<key>answer</key>
			<string>30</string>
		</dict>
		<dict>
			<key>21</key>
			<string>value</string>
			<key>x1</key>
			<string>8+2+6</string>
			<key>answer</key>
			<string>16</string>
		</dict>
		<dict>
			<key>22</key>
			<string>value</string>
			<key>x1</key>
			<string>2+5+3</string>
			<key>answer</key>
			<string>10</string>
		</dict>
		<dict>
			<key>23</key>
			<string>value</string>
			<key>x1</key>
			<string>8+9+6</string>
			<key>answer</key>
			<string>23</string>
		</dict>
		<dict>
			<key>24</key>
			<string>value</string>
			<key>x1</key>
			<string>11+14+6</string>
			<key>answer</key>
			<string>31</string>
		</dict>
		<dict>
			<key>25</key>
			<string>value</string>
			<key>x1</key>
			<string>7+4+6</string>
			<key>answer</key>
			<string>17</string>
		</dict>
		<dict>
			<key>26</key>
			<string>value</string>
			<key>x1</key>
			<string>7+13+8</string>
			<key>answer</key>
			<string>28</string>
		</dict>
		<dict>
			<key>27</key>
			<string>value</string>
			<key>x1</key>
			<string>6+2+3</string>
			<key>answer</key>
			<string>11</string>
		</dict>
		<dict>
			<key>28</key>
			<string>value</string>
			<key>x1</key>
			<string>12+1+14</string>
			<key>answer</key>
			<string>27</string>
		</dict>
		<dict>
			<key>29</key>
			<string>value</string>
			<key>x1</key>
			<string>3+2+9</string>
			<key>answer</key>
			<string>14</string>
		</dict>
		<dict>
			<key>30</key>
			<string>value</string>
			<key>x1</key>
			<string>11+8+12</string>
			<key>answer</key>
			<string>31</string>
		</dict>

		<dict>
			<key>31</key>
			<string>value</string>
			<key>x1</key>
			<string>6+5+14</string>
			<key>answer</key>
			<string>25</string>
		</dict>
		<dict>
			<key>32</key>
			<string>value</string>
			<key>x1</key>
			<string>15+1+19</string>
			<key>answer</key>
			<string>35</string>
		</dict>
		<dict>
			<key>33</key>
			<string>value</string>
			<key>x1</key>
			<string>5+15+10</string>
			<key>answer</key>
			<string>30</string>
		</dict>
		<dict>
			<key>34</key>
			<string>value</string>
			<key>x1</key>
			<string>8+12+7</string>
			<key>answer</key>
			<string>27</string>
		</dict>

		<dict>
			<key>35</key>
			<string>value</string>
			<key>x1</key>
			<string>2+13+7</string>
			<key>answer</key>
			<string>22</string>
		</dict>
		<dict>
			<key>36</key>
			<string>value</string>
			<key>x1</key>
			<string>5+10+11</string>
			<key>answer</key>
			<string>26</string>
		</dict>
		<dict>
			<key>37</key>
			<string>value</string>
			<key>x1</key>
			<string>3+7+2</string>
			<key>answer</key>
			<string>12</string>
		</dict>
		<dict>
			<key>38</key>
			<string>value</string>
			<key>x1</key>
			<string>6+4+9</string>
			<key>answer</key>
			<string>19</string>
		</dict>
		<dict>
			<key>39</key>
			<string>value</string>
			<key>x1</key>
			<string>12+8+13</string>
			<key>answer</key>
			<string>33</string>
		</dict>
		<dict>
			<key>40</key>
			<string>value</string>
			<key>x1</key>
			<string>9+11+7</string>
			<key>answer</key>
			<string>27</string>
		</dict>

	</array>
</dict>
</plist>
