<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>levels</key>
	<array>
		<dict>
			<key>level1</key>
			<string>value</string>
			<key>x</key>
			<string>39.5</string>
			<key>y</key>
			<string>8.5</string>
			<key>targetnumber</key>
			<integer>20</integer>
			<key>time2</key>
			<integer>80</integer>
			<key>time1</key>
			<integer>10</integer>
			<key>time3</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>level2</key>
			<string>value</string>
			<key>x</key>
			<string>56.5</string>
			<key>y</key>
			<string>14</string>
			<key>targetnumber</key>
			<integer>20</integer>
			<key>time2</key>
			<integer>80</integer>
			<key>time1</key>
			<integer>10</integer>
			<key>time3</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>level3</key>
			<string>value</string>
			<key>x</key>
			<string>66.5</string>
			<key>y</key>
			<string>25</string>
			<key>targetnumber</key>
			<integer>20</integer>
			<key>time2</key>
			<integer>80</integer>
			<key>time1</key>
			<integer>10</integer>
			<key>time3</key>
			<integer>300</integer>
		</dict>

		

		<dict>
			<key>level4</key>
			<string>value</string>
			<key>x</key>
			<string>58</string>
			<key>y</key>
			<string>41</string>
			<key>targetnumber</key>
			<integer>20</integer>
			<key>time2</key>
			<integer>80</integer>
			<key>time1</key>
			<integer>10</integer>
			<key>time3</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>level5</key>
			<string>value</string>
			<key>x</key>
			<string>42</string>
			<key>y</key>
			<string>50</string>
			<key>targetnumber</key>
			<integer>80</integer>
			<key>time2</key>
			<integer>60</integer>
			<key>time1</key>
			<integer>10</integer>
			<key>time3</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>level6</key>
			<string>value</string>
			<key>x</key>
			<string>25</string>
			<key>y</key>
			<string>57</string>
			<key>targetnumber</key>
			<integer>80</integer>
			<key>time2</key>
			<integer>60</integer>
			<key>time1</key>
			<integer>10</integer>
			<key>time3</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>level7</key>
			<string>value</string>
			<key>x</key>
			<string>11</string>
			<key>y</key>
			<string>71</string>
			<key>targetnumber</key>
			<integer>20</integer>
			<key>time2</key>
			<integer>80</integer>
			<key>time1</key>
			<integer>10</integer>
			<key>time3</key>
			<integer>300</integer>
		</dict>

		<dict>
			<key>level8</key>
			<string>value</string>
			<key>x</key>
			<string>19</string>
			<key>y</key>
			<string>85</string>
			<key>targetnumber</key>
			<integer>20</integer>
			<key>time2</key>
			<integer>80</integer>
			<key>time1</key>
			<integer>10</integer>
			<key>time3</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>level9</key>
			<string>value</string>
			<key>x</key>
			<string>53.5</string>
			<key>y</key>
			<string>95</string>
			<key>targetnumber</key>
			<integer>20</integer>
			<key>time2</key>
			<integer>80</integer>
			<key>time1</key>
			<integer>10</integer>
			<key>time3</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>level10</key>
			<string>value</string>
			<key>x</key>
			<string>70.5</string>
			<key>y</key>
			<string>99</string>
			<key>targetnumber</key>
			<integer>20</integer>
			<key>time2</key>
			<integer>80</integer>
			<key>time1</key>
			<integer>10</integer>
			<key>time3</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>level11</key>
			<string>value</string>
			<key>x</key>
			<string>76</string>
			<key>y</key>
			<string>112</string>
			<key>targetnumber</key>
			<integer>20</integer>
			<key>time2</key>
			<integer>80</integer>
			<key>time1</key>
			<integer>10</integer>
			<key>time3</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>level12</key>
			<string>value</string>
			<key>x</key>
			<string>67.5</string>
			<key>y</key>
			<string>125.5</string>
			<key>targetnumber</key>
			<integer>20</integer>
			<key>time2</key>
			<integer>80</integer>
			<key>time1</key>
			<integer>10</integer>
			<key>time3</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>level13</key>
			<string>value</string>
			<key>x</key>
			<string>57</string>
			<key>y</key>
			<string>140</string>
			<key>targetnumber</key>
			<integer>20</integer>
			<key>time2</key>
			<integer>80</integer>
			<key>time1</key>
			<integer>10</integer>
			<key>time3</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>level14</key>
			<string>value</string>
			<key>x</key>
			<string>41</string>
			<key>y</key>
			<string>146</string>
			<key>targetnumber</key>
			<integer>20</integer>
			<key>time2</key>
			<integer>80</integer>
			<key>time1</key>
			<integer>10</integer>
			<key>time3</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>level15</key>
			<string>value</string>
			<key>x</key>
			<string>27.5</string>
			<key>y</key>
			<string>156</string>
			<key>targetnumber</key>
			<integer>10</integer>
			<key>time2</key>
			<integer>80</integer>
			<key>time1</key>
			<integer>10</integer>
			<key>time3</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>level16</key>
			<string>value</string>
			<key>x</key>
			<string>32.5</string>
			<key>y</key>
			<string>172.5</string>
			<key>targetnumber</key>
			<integer>20</integer>
			<key>time2</key>
			<integer>80</integer>
			<key>time1</key>
			<integer>10</integer>
			<key>time3</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>level17</key>
			<string>value</string>
			<key>x</key>
			<string>45</string>
			<key>y</key>
			<string>184</string>
			<key>targetnumber</key>
			<integer>20</integer>
			<key>time2</key>
			<integer>80</integer>
			<key>time1</key>
			<integer>10</integer>
			<key>time3</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>level18</key>
			<string>value</string>
			<key>x</key>
			<string>59</string>
			<key>y</key>
			<string>190</string>
			<key>targetnumber</key>
			<integer>10</integer>
			<key>time2</key>
			<integer>80</integer>
			<key>time1</key>
			<integer>10</integer>
			<key>time3</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>level19</key>
			<string>value</string>
			<key>x</key>
			<string>70</string>
			<key>y</key>
			<string>234</string>
			<key>targetnumber</key>
			<integer>10</integer>
			<key>time2</key>
			<integer>80</integer>
			<key>time1</key>
			<integer>10</integer>
			<key>time3</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>level20</key>
			<string>value</string>
			<key>x</key>
			<string>50</string>
			<key>y</key>
			<string>240</string>
			<key>targetnumber</key>
			<integer>5</integer>
			<key>time2</key>
			<integer>80</integer>
			<key>time1</key>
			<integer>10</integer>
			<key>time3</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>level21</key>
			<string>value</string>
			<key>x</key>
			<string>32</string>
			<key>y</key>
			<string>252</string>
			<key>targetnumber</key>
			<integer>10</integer>
			<key>time2</key>
			<integer>80</integer>
			<key>time1</key>
			<integer>10</integer>
			<key>time3</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>level22</key>
			<string>value</string>
			<key>x</key>
			<string>29.5</string>
			<key>y</key>
			<string>297</string>
			<key>targetnumber</key>
			<integer>10</integer>
			<key>time2</key>
			<integer>80</integer>
			<key>time1</key>
			<integer>10</integer>
			<key>time3</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>level23</key>
			<string>value</string>
			<key>x</key>
			<string>49</string>
			<key>y</key>
			<string>305</string>
			<key>targetnumber</key>
			<integer>10</integer>
			<key>time2</key>
			<integer>80</integer>
			<key>time1</key>
			<integer>10</integer>
			<key>time3</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>level24</key>
			<string>value</string>
			<key>x</key>
			<string>68.5</string>
			<key>y</key>
			<string>308</string>
			<key>targetnumber</key>
			<integer>5</integer>
			<key>time2</key>
			<integer>80</integer>
			<key>time1</key>
			<integer>10</integer>
			<key>time3</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>level25</key>
			<string>value</string>
			<key>x</key>
			<string>83</string>
			<key>y</key>
			<string>324</string>
			<key>targetnumber</key>
			<integer>5</integer>
			<key>time2</key>
			<integer>80</integer>
			<key>time1</key>
			<integer>10</integer>
			<key>time3</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>level26</key>
			<string>value</string>
			<key>x</key>
			<string>69</string>
			<key>y</key>
			<string>338</string>
			<key>targetnumber</key>
			<integer>5</integer>
			<key>time2</key>
			<integer>80</integer>
			<key>time1</key>
			<integer>10</integer>
			<key>time3</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>level27</key>
			<string>value</string>
			<key>x</key>
			<string>47.5</string>
			<key>y</key>
			<string>345</string>
			<key>targetnumber</key>
			<integer>5</integer>
			<key>time2</key>
			<integer>80</integer>
			<key>time1</key>
			<integer>10</integer>
			<key>time3</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>level28</key>
			<string>value</string>
			<key>x</key>
			<string>28</string>
			<key>y</key>
			<string>351</string>
			<key>targetnumber</key>
			<integer>5</integer>
			<key>time2</key>
			<integer>80</integer>
			<key>time1</key>
			<integer>10</integer>
			<key>time3</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>leve29</key>
			<string>value</string>
			<key>x</key>
			<string>19</string>
			<key>y</key>
			<string>366.5</string>
			<key>targetnumber</key>
			<integer>10</integer>
			<key>time2</key>
			<integer>80</integer>
			<key>time1</key>
			<integer>10</integer>
			<key>time3</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>leve30</key>
			<string>value</string>
			<key>x</key>
			<string>34</string>
			<key>y</key>
			<string>379</string>
			<key>targetnumber</key>
			<integer>10</integer>
			<key>time2</key>
			<integer>80</integer>
			<key>time1</key>
			<integer>10</integer>
			<key>time3</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>level31</key>
			<string>value</string>
			<key>x</key>
			<string>55.5</string>
			<key>y</key>
			<string>388</string>
			<key>targetnumber</key>
			<integer>10</integer>
			<key>time2</key>
			<integer>80</integer>
			<key>time1</key>
			<integer>10</integer>
			<key>time3</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>level32</key>
			<string>value</string>
			<key>x</key>
			<string>56</string>
			<key>y</key>
			<string>420</string>
			<key>targetnumber</key>
			<integer>10</integer>
			<key>time2</key>
			<integer>80</integer>
			<key>time1</key>
			<integer>10</integer>
			<key>time3</key>
			<integer>300</integer>
		</dict>

	</array>
</dict>
</plist>
