<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anspro</key>
	<array>
		<dict>
			<key>1</key>
			<string>value</string>
			<key>x1</key>
			<string>3+16</string>
			<key>answer</key>
			<string>19</string>
		</dict>
		<dict>
			<key>2</key>
			<string>value</string>
			<key>x1</key>
			<string>12+4</string>
			<key>answer</key>
			<string>16</string>
		</dict>
		<dict>
			<key>3</key>
			<string>value</string>
			<key>x1</key>
			<string>16+5</string>
			<key>answer</key>
			<string>21</string>
		</dict>
		<dict>
			<key>4</key>
			<string>value</string>
			<key>x1</key>
			<string>9+16</string>
			<key>answer</key>
			<string>25</string>
		</dict>
		<dict>
			<key>5</key>
			<string>value</string>
			<key>x1</key>
			<string>18+14</string>
			<key>answer</key>
			<string>32</string>
		</dict>
		<dict>
			<key>6</key>
			<string>value</string>
			<key>x1</key>
			<string>13+17</string>
			<key>answer</key>
			<string>30</string>
		</dict>
		<dict>
			<key>7</key>
			<string>value</string>
			<key>x1</key>
			<string>16+19</string>
			<key>answer</key>
			<string>35</string>
		</dict>
		<dict>
			<key>8</key>
			<string>value</string>
			<key>x1</key>
			<string>13+15</string>
			<key>answer</key>
			<string>28</string>
		</dict>
		<dict>
			<key>9</key>
			<string>value</string>
			<key>x1</key>
			<string>18+14</string>
			<key>answer</key>
			<string>32</string>
		</dict>
		<dict>
			<key>10</key>
			<string>value</string>
			<key>x1</key>
			<string>17+14</string>
			<key>answer</key>
			<string>31</string>
		</dict>
		<dict>
			<key>11</key>
			<string>value</string>
			<key>x1</key>
			<string>16+2</string>
			<key>answer</key>
			<string>18</string>
		</dict>
		<dict>
			<key>12</key>
			<string>value</string>
			<key>x1</key>
			<string>14+3</string>
			<key>answer</key>
			<string>17</string>
		</dict>
		<dict>
			<key>13</key>
			<string>value</string>
			<key>x1</key>
			<string>7+16</string>
			<key>answer</key>
			<string>23</string>
		</dict>
		<dict>
			<key>14</key>
			<string>value</string>
			<key>x1</key>
			<string>16+10</string>
			<key>answer</key>
			<string>26</string>
		</dict>
		<dict>
			<key>15</key>
			<string>value</string>
			<key>x1</key>
			<string>12+11</string>
			<key>answer</key>
			<string>23</string>
		</dict>
		<dict>
			<key>16</key>
			<string>value</string>
			<key>x1</key>
			<string>4+11</string>
			<key>answer</key>
			<string>15</string>
		</dict>
		<dict>
			<key>17</key>
			<string>value</string>
			<key>x1</key>
			<string>10+4</string>
			<key>answer</key>
			<string>14</string>
		</dict>
		<dict>
			<key>18</key>
			<string>value</string>
			<key>x1</key>
			<string>15+18</string>
			<key>answer</key>
			<string>33</string>
		</dict>
		<dict>
			<key>19</key>
			<string>value</string>
			<key>x1</key>
			<string>17+12</string>
			<key>answer</key>
			<string>29</string>
		</dict>
		<dict>
			<key>20</key>
			<string>value</string>
			<key>x1</key>
			<string>14+12</string>
			<key>answer</key>
			<string>26</string>
		</dict>
		<dict>
			<key>21</key>
			<string>value</string>
			<key>x1</key>
			<string>9+12</string>
			<key>answer</key>
			<string>21</string>
		</dict>
		<dict>
			<key>22</key>
			<string>value</string>
			<key>x1</key>
			<string>18+12</string>
			<key>answer</key>
			<string>30</string>
		</dict>
		<dict>
			<key>23</key>
			<string>value</string>
			<key>x1</key>
			<string>11+15</string>
			<key>answer</key>
			<string>26</string>
		</dict>
		<dict>
			<key>24</key>
			<string>value</string>
			<key>x1</key>
			<string>7+17</string>
			<key>answer</key>
			<string>24</string>
		</dict>
		<dict>
			<key>25</key>
			<string>value</string>
			<key>x1</key>
			<string>13+18</string>
			<key>answer</key>
			<string>31</string>
		</dict>
	</array>
</dict>
</plist>
