<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anspro</key>
	<array>
		<dict>
			<key>1</key>
			<string>value</string>
			<key>x1</key>
			<string>6(6)</string>
			<key>answer</key>
			<string>36</string>
		</dict>
		<dict>
			<key>2</key>
			<string>value</string>
			<key>x1</key>
			<string>6(7)</string>
			<key>answer</key>
			<string>42</string>
		</dict>
		<dict>
			<key>3</key>
			<string>value</string>
			<key>x1</key>
			<string>6(8)</string>
			<key>answer</key>
			<string>48</string>
		</dict>
		<dict>
			<key>4</key>
			<string>value</string>
			<key>x1</key>
			<string>6(9)</string>
			<key>answer</key>
			<string>54</string>
		</dict>
		<dict>
			<key>5</key>
			<string>value</string>
			<key>x1</key>
			<string>6(10)</string>
			<key>answer</key>
			<string>60</string>
		</dict>
		<dict>
			<key>6</key>
			<string>value</string>
			<key>x1</key>
			<string>7(6)</string>
			<key>answer</key>
			<string>42</string>
		</dict>
		<dict>
			<key>7</key>
			<string>value</string>
			<key>x1</key>
			<string>7(7)</string>
			<key>answer</key>
			<string>49</string>
		</dict>
		<dict>
			<key>8</key>
			<string>value</string>
			<key>x1</key>
			<string>7(8)</string>
			<key>answer</key>
			<string>56</string>
		</dict>
		<dict>
			<key>9</key>
			<string>value</string>
			<key>x1</key>
			<string>7(9)</string>
			<key>answer</key>
			<string>63</string>
		</dict>
		<dict>
			<key>10</key>
			<string>value</string>
			<key>x1</key>
			<string>7(10)</string>
			<key>answer</key>
			<string>70</string>
		</dict>
		<dict>
			<key>11</key>
			<string>value</string>
			<key>x1</key>
			<string>8(6)</string>
			<key>answer</key>
			<string>48</string>
		</dict>
		<dict>
			<key>12</key>
			<string>value</string>
			<key>x1</key>
			<string>8(7)</string>
			<key>answer</key>
			<string>56</string>
		</dict>
		<dict>
			<key>13</key>
			<string>value</string>
			<key>x1</key>
			<string>8(9)</string>
			<key>answer</key>
			<string>72</string>
		</dict>
		<dict>
			<key>14</key>
			<string>value</string>
			<key>x1</key>
			<string>8(10)</string>
			<key>answer</key>
			<string>80</string>
		</dict>
		<dict>
			<key>15</key>
			<string>value</string>
			<key>x1</key>
			<string>9(6)</string>
			<key>answer</key>
			<string>54</string>
		</dict>
		<dict>
			<key>16</key>
			<string>value</string>
			<key>x1</key>
			<string>9(7)</string>
			<key>answer</key>
			<string>63</string>
		</dict>
		<dict>
			<key>17</key>
			<string>value</string>
			<key>x1</key>
			<string>9(8)</string>
			<key>answer</key>
			<string>72</string>
		</dict>
		<dict>
			<key>18</key>
			<string>value</string>
			<key>x1</key>
			<string>9(9)</string>
			<key>answer</key>
			<string>81</string>
		</dict>
		<dict>
			<key>19</key>
			<string>value</string>
			<key>x1</key>
			<string>9(10)</string>
			<key>answer</key>
			<string>90</string>
		</dict>
		<dict>
			<key>20</key>
			<string>value</string>
			<key>x1</key>
			<string>10(6)</string>
			<key>answer</key>
			<string>60</string>
		</dict>
		<dict>
			<key>21</key>
			<string>value</string>
			<key>x1</key>
			<string>10(7)</string>
			<key>answer</key>
			<string>70</string>
		</dict>
		<dict>
			<key>22</key>
			<string>value</string>
			<key>x1</key>
			<string>10(8)</string>
			<key>answer</key>
			<string>80</string>
		</dict>
		<dict>
			<key>23</key>
			<string>value</string>
			<key>x1</key>
			<string>10(9)</string>
			<key>answer</key>
			<string>90</string>
		</dict>
		<dict>
			<key>24</key>
			<string>value</string>
			<key>x1</key>
			<string>10(10)</string>
			<key>answer</key>
			<string>100</string>
		</dict>
	</array>
</dict>
</plist>
