<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anspro</key>
	<array>
		<dict>
			<key>1</key>
			<string>value</string>
			<key>x1</key>
			<string>3(13)</string>
			<key>answer</key>
			<string>39</string>
		</dict>
		<dict>
			<key>2</key>
			<string>value</string>
			<key>x1</key>
			<string>3(14)</string>
			<key>answer</key>
			<string>42</string>
		</dict>
		<dict>
			<key>3</key>
			<string>value</string>
			<key>x1</key>
			<string>3(15)</string>
			<key>answer</key>
			<string>45</string>
		</dict>
		<dict>
			<key>4</key>
			<string>value</string>
			<key>x1</key>
			<string>3(16)</string>
			<key>answer</key>
			<string>48</string>
		</dict>
		<dict>
			<key>5</key>
			<string>value</string>
			<key>x1</key>
			<string>3(17)</string>
			<key>answer</key>
			<string>51</string>
		</dict>
		<dict>
			<key>6</key>
			<string>value</string>
			<key>x1</key>
			<string>4(13)</string>
			<key>answer</key>
			<string>52</string>
		</dict>
		<dict>
			<key>7</key>
			<string>value</string>
			<key>x1</key>
			<string>4(14)</string>
			<key>answer</key>
			<string>56</string>
		</dict>
		<dict>
			<key>8</key>
			<string>value</string>
			<key>x1</key>
			<string>4(15)</string>
			<key>answer</key>
			<string>60</string>
		</dict>
		<dict>
			<key>9</key>
			<string>value</string>
			<key>x1</key>
			<string>4(16)</string>
			<key>answer</key>
			<string>64</string>
		</dict>
		<dict>
			<key>10</key>
			<string>value</string>
			<key>x1</key>
			<string>4(17)</string>
			<key>answer</key>
			<string>68</string>
		</dict>
		<dict>
			<key>11</key>
			<string>value</string>
			<key>x1</key>
			<string>5(13)</string>
			<key>answer</key>
			<string>65</string>
		</dict>
		<dict>
			<key>12</key>
			<string>value</string>
			<key>x1</key>
			<string>5(14)</string>
			<key>answer</key>
			<string>70</string>
		</dict>
		<dict>
			<key>13</key>
			<string>value</string>
			<key>x1</key>
			<string>5(15)</string>
			<key>answer</key>
			<string>75</string>
		</dict>
		<dict>
			<key>14</key>
			<string>value</string>
			<key>x1</key>
			<string>5(16)</string>
			<key>answer</key>
			<string>80</string>
		</dict>
		<dict>
			<key>15</key>
			<string>value</string>
			<key>x1</key>
			<string>5(17)</string>
			<key>answer</key>
			<string>85</string>
		</dict>
		<dict>
			<key>16</key>
			<string>value</string>
			<key>x1</key>
			<string>6(13)</string>
			<key>answer</key>
			<string>78</string>
		</dict>
		<dict>
			<key>17</key>
			<string>value</string>
			<key>x1</key>
			<string>6(14)</string>
			<key>answer</key>
			<string>84</string>
		</dict>
		<dict>
			<key>18</key>
			<string>value</string>
			<key>x1</key>
			<string>6(15)</string>
			<key>answer</key>
			<string>90</string>
		</dict>
		<dict>
			<key>19</key>
			<string>value</string>
			<key>x1</key>
			<string>6(16)</string>
			<key>answer</key>
			<string>96</string>
		</dict>
		<dict>
			<key>20</key>
			<string>value</string>
			<key>x1</key>
			<string>6(17)</string>
			<key>answer</key>
			<string>102</string>
		</dict>
		<dict>
			<key>21</key>
			<string>value</string>
			<key>x1</key>
			<string>2(21)</string>
			<key>answer</key>
			<string>42</string>
		</dict>
		<dict>
			<key>22</key>
			<string>value</string>
			<key>x1</key>
			<string>2(20)</string>
			<key>answer</key>
			<string>40</string>
		</dict>
		<dict>
			<key>23</key>
			<string>value</string>
			<key>x1</key>
			<string>2(19)</string>
			<key>answer</key>
			<string>38</string>
		</dict>
		<dict>
			<key>24</key>
			<string>value</string>
			<key>x1</key>
			<string>2(18)</string>
			<key>answer</key>
			<string>36</string>
		</dict>
		<dict>
			<key>25</key>
			<string>value</string>
			<key>x1</key>
			<string>2(17)</string>
			<key>answer</key>
			<string>34</string>
		</dict>
		<dict>
			<key>26</key>
			<string>value</string>
			<key>x1</key>
			<string>2(16)</string>
			<key>answer</key>
			<string>32</string>
		</dict>
		<dict>
			<key>27</key>
			<string>value</string>
			<key>x1</key>
			<string>2(15)</string>
			<key>answer</key>
			<string>30</string>
		</dict>
		<dict>
			<key>28</key>
			<string>value</string>
			<key>x1</key>
			<string>2(14)</string>
			<key>answer</key>
			<string>28</string>
		</dict>
		<dict>
			<key>29</key>
			<string>value</string>
			<key>x1</key>
			<string>2(13)</string>
			<key>answer</key>
			<string>26</string>
		</dict>
	</array>
</dict>
</plist>
