<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anspro</key>
	<array>
		<dict>
			<key>1</key>
			<string>value</string>
			<key>x1</key>
			<string>0.8___0.9</string>
			<key>answer</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>2</key>
			<string>value</string>
			<key>x1</key>
			<string>0.5___0.15</string>
			<key>answer</key>
			<string>1</string>
		</dict>
		<dict>
			<key>3</key>
			<string>value</string>
			<key>x1</key>
			<string>0.7___0.55</string>
			<key>answer</key>
			<string>1</string>
		</dict>
		<dict>
			<key>4</key>
			<string>value</string>
			<key>x1</key>
			<string>0.9___0.22</string>
			<key>answer</key>
			<string>1</string>
		</dict>
		<dict>
			<key>5</key>
			<string>value</string>
			<key>x1</key>
			<string>0.3___0.67</string>
			<key>answer</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>6</key>
			<string>value</string>
			<key>x1</key>
			<string>0.4___0.63</string>
			<key>answer</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>7</key>
			<string>value</string>
			<key>x1</key>
			<string>0.8___0.31</string>
			<key>answer</key>
			<string>1</string>
		</dict>
		<dict>
			<key>8</key>
			<string>value</string>
			<key>x1</key>
			<string>0.9___0.76</string>
			<key>answer</key>
			<string>1</string>
		</dict>
		<dict>
			<key>9</key>
			<string>value</string>
			<key>x1</key>
			<string>0.2___0.59</string>
			<key>answer</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>10</key>
			<string>value</string>
			<key>x1</key>
			<string>0.8___0.64</string>
			<key>answer</key>
			<string>1</string>
		</dict>
		<dict>
			<key>11</key>
			<string>value</string>
			<key>x1</key>
			<string>0.3___0.12</string>
			<key>answer</key>
			<string>1</string>
		</dict>
		<dict>
			<key>12</key>
			<string>value</string>
			<key>x1</key>
			<string>0.3___0.51</string>
			<key>answer</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>13</key>
			<string>value</string>
			<key>x1</key>
			<string>0.8___0.13</string>
			<key>answer</key>
			<string>1</string>
		</dict>
		<dict>
			<key>14</key>
			<string>value</string>
			<key>x1</key>
			<string>0.4___0.51</string>
			<key>answer</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>15</key>
			<string>value</string>
			<key>x1</key>
			<string>0.2___0.7</string>
			<key>answer</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>16</key>
			<string>value</string>
			<key>x1</key>
			<string>0.7___0.37</string>
			<key>answer</key>
			<string>1</string>
		</dict>
		<dict>
			<key>17</key>
			<string>value</string>
			<key>x1</key>
			<string>0.2___0.95</string>
			<key>answer</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>18</key>
			<string>value</string>
			<key>x1</key>
			<string>0.8___0.5</string>
			<key>answer</key>
			<string>1</string>
		</dict>
		<dict>
			<key>19</key>
			<string>value</string>
			<key>x1</key>
			<string>0.2___0.19</string>
			<key>answer</key>
			<string>1</string>
		</dict>
		<dict>
			<key>20</key>
			<string>value</string>
			<key>x1</key>
			<string>0.7___0.27</string>
			<key>answer</key>
			<string>1</string>
		</dict>
		<dict>
			<key>21</key>
			<string>value</string>
			<key>x1</key>
			<string>0.1___0.68</string>
			<key>answer</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>22</key>
			<string>value</string>
			<key>x1</key>
			<string>0.2___0.97</string>
			<key>answer</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>23</key>
			<string>value</string>
			<key>x1</key>
			<string>0.2___0.78</string>
			<key>answer</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>24</key>
			<string>value</string>
			<key>x1</key>
			<string>0.4___0.55</string>
			<key>answer</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>25</key>
			<string>value</string>
			<key>x1</key>
			<string>0.2___0.05</string>
			<key>answer</key>
			<string>1</string>
		</dict>
		<dict>
			<key>26</key>
			<string>value</string>
			<key>x1</key>
			<string>0.8___0.79</string>
			<key>answer</key>
			<string>1</string>
		</dict>
		<dict>
			<key>27</key>
			<string>value</string>
			<key>x1</key>
			<string>0.6___0.54</string>
			<key>answer</key>
			<string>1</string>
		</dict>
		<dict>
			<key>28</key>
			<string>value</string>
			<key>x1</key>
			<string>0.8___0.09</string>
			<key>answer</key>
			<string>1</string>
		</dict>
		<dict>
			<key>29</key>
			<string>value</string>
			<key>x1</key>
			<string>0.6___0.08</string>
			<key>answer</key>
			<string>1</string>
		</dict>




		<dict>
			<key>29</key>
			<string>value</string>
			<key>x1</key>
			<string>0.3___0.2</string>
			<key>answer</key>
			<string>1</string>
		</dict>
		<dict>
			<key>29</key>
			<string>value</string>
			<key>x1</key>
			<string>0.5___0.66</string>
			<key>answer</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>29</key>
			<string>value</string>
			<key>x1</key>
			<string>0.7___0.6</string>
			<key>answer</key>
			<string>1</string>
		</dict>
		<dict>
			<key>29</key>
			<string>value</string>
			<key>x1</key>
			<string>0.9___0.47</string>
			<key>answer</key>
			<string>1</string>
		</dict>
		<dict>
			<key>29</key>
			<string>value</string>
			<key>x1</key>
			<string>0.7___0.21</string>
			<key>answer</key>
			<string>1</string>
		</dict>
		<dict>
			<key>29</key>
			<string>value</string>
			<key>x1</key>
			<string>0.2___0.16</string>
			<key>answer</key>
			<string>1</string>
		</dict>
		<dict>
			<key>29</key>
			<string>value</string>
			<key>x1</key>
			<string>0.1___0.86</string>
			<key>answer</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>29</key>
			<string>value</string>
			<key>x1</key>
			<string>0.8___0.43</string>
			<key>answer</key>
			<string>1</string>
		</dict>
		<dict>
			<key>29</key>
			<string>value</string>
			<key>x1</key>
			<string>0.3___0.62</string>
			<key>answer</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>29</key>
			<string>value</string>
			<key>x1</key>
			<string>0.9___0.74</string>
			<key>answer</key>
			<string>1</string>
		</dict>
		<dict>
			<key>29</key>
			<string>value</string>
			<key>x1</key>
			<string>0.8___0.93</string>
			<key>answer</key>
			<string>-1</string>
		</dict>

		
	</array>
</dict>
</plist>
