<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anspro</key>
	<array>
		<dict>
			<key>1</key>
			<string>value</string>
			<key>x1</key>
			<string>15</string>
			<key>y1</key>
			<string>1</string>
			<key>x2</key>
			<string>2</string>
			<key>y2</key>
			<string>5</string>
			<key>op</key>
			<string>x</string>
			<key>answer</key>
			<string>6</string>
		</dict>
		<dict>
			<key>2</key>
			<string>value</string>
			<key>x1</key>
			<string>30</string>
			<key>y1</key>
			<string>7</string>
			<key>x2</key>
			<string>4</string>
			<key>y2</key>
			<string>5</string>
			<key>op</key>
			<string>x</string>
			<key>answer</key>
			<string>24/7</string>
		</dict>
		<dict>
			<key>3</key>
			<string>value</string>
			<key>x1</key>
			<string>20</string>
			<key>y1</key>
			<string>7</string>
			<key>x2</key>
			<string>3</string>
			<key>y2</key>
			<string>4</string>
			<key>op</key>
			<string>x</string>
			<key>answer</key>
			<string>15/7</string>
		</dict>
		<dict>
			<key>4</key>
			<string>value</string>
			<key>x1</key>
			<string>7</string>
			<key>y1</key>
			<string>8</string>
			<key>x2</key>
			<string>8</string>
			<key>y2</key>
			<string>9</string>
			<key>op</key>
			<string>x</string>
			<key>answer</key>
			<string>7/9</string>
		</dict>
		<dict>
			<key>5</key>
			<string>value</string>
			<key>x1</key>
			<string>8</string>
			<key>y1</key>
			<string>1</string>
			<key>x2</key>
			<string>3</string>
			<key>y2</key>
			<string>56</string>
			<key>op</key>
			<string>x</string>
			<key>answer</key>
			<string>3/7</string>
		</dict>
		<dict>
			<key>6</key>
			<string>value</string>
			<key>x1</key>
			<string>14</string>
			<key>y1</key>
			<string>1</string>
			<key>x2</key>
			<string>3</string>
			<key>y2</key>
			<string>7</string>
			<key>op</key>
			<string>x</string>
			<key>answer</key>
			<string>6</string>
		</dict>
		<dict>
			<key>7</key>
			<string>value</string>
			<key>x1</key>
			<string>2</string>
			<key>y1</key>
			<string>7</string>
			<key>x2</key>
			<string>7</string>
			<key>y2</key>
			<string>9</string>
			<key>op</key>
			<string>x</string>
			<key>answer</key>
			<string>2/9</string>
		</dict>
		<dict>
			<key>8</key>
			<string>value</string>
			<key>x1</key>
			<string>3</string>
			<key>y1</key>
			<string>1</string>
			<key>x2</key>
			<string>2</string>
			<key>y2</key>
			<string>15</string>
			<key>op</key>
			<string>x</string>
			<key>answer</key>
			<string>2/5</string>
		</dict>
		<dict>
			<key>9</key>
			<string>value</string>
			<key>x1</key>
			<string>6</string>
			<key>y1</key>
			<string>1</string>
			<key>x2</key>
			<string>7</string>
			<key>y2</key>
			<string>18</string>
			<key>op</key>
			<string>x</string>
			<key>answer</key>
			<string>7/3</string>
		</dict>
		<dict>
			<key>10</key>
			<string>value</string>
			<key>x1</key>
			<string>12</string>
			<key>y1</key>
			<string>7</string>
			<key>x2</key>
			<string>3</string>
			<key>y2</key>
			<string>4</string>
			<key>op</key>
			<string>x</string>
			<key>answer</key>
			<string>9/7</string>
		</dict>
		<dict>
			<key>11</key>
			<string>value</string>
			<key>x1</key>
			<string>7</string>
			<key>y1</key>
			<string>1</string>
			<key>x2</key>
			<string>2</string>
			<key>y2</key>
			<string>21</string>
			<key>op</key>
			<string>x</string>
			<key>answer</key>
			<string>2/3</string>
		</dict>
		<dict>
			<key>12</key>
			<string>value</string>
			<key>x1</key>
			<string>5</string>
			<key>y1</key>
			<string>7</string>
			<key>x2</key>
			<string>2</string>
			<key>y2</key>
			<string>15</string>
			<key>op</key>
			<string>x</string>
			<key>answer</key>
			<string>2/21</string>
		</dict>
		<dict>
			<key>13</key>
			<string>value</string>
			<key>x1</key>
			<string>9</string>
			<key>y1</key>
			<string>40</string>
			<key>x2</key>
			<string>5</string>
			<key>y2</key>
			<string>7</string>
			<key>op</key>
			<string>x</string>
			<key>answer</key>
			<string>9/56</string>
		</dict>
		<dict>
			<key>14</key>
			<string>value</string>
			<key>x1</key>
			<string>3</string>
			<key>y1</key>
			<string>1</string>
			<key>x2</key>
			<string>5</string>
			<key>y2</key>
			<string>6</string>
			<key>op</key>
			<string>x</string>
			<key>answer</key>
			<string>5/2</string>
		</dict>
		<dict>
			<key>15</key>
			<string>value</string>
			<key>x1</key>
			<string>36</string>
			<key>y1</key>
			<string>5</string>
			<key>x2</key>
			<string>3</string>
			<key>y2</key>
			<string>4</string>
			<key>op</key>
			<string>x</string>
			<key>answer</key>
			<string>27/5</string>
		</dict>
		<dict>
			<key>16</key>
			<string>value</string>
			<key>x1</key>
			<string>6</string>
			<key>y1</key>
			<string>5</string>
			<key>x2</key>
			<string>2</string>
			<key>y2</key>
			<string>3</string>
			<key>op</key>
			<string>x</string>
			<key>answer</key>
			<string>4/5</string>
		</dict>
		<dict>
			<key>17</key>
			<string>value</string>
			<key>x1</key>
			<string>7</string>
			<key>y1</key>
			<string>1</string>
			<key>x2</key>
			<string>2</string>
			<key>y2</key>
			<string>21</string>
			<key>op</key>
			<string>x</string>
			<key>answer</key>
			<string>2/3</string>
		</dict>
		<dict>
			<key>18</key>
			<string>value</string>
			<key>x1</key>
			<string>5</string>
			<key>y1</key>
			<string>6</string>
			<key>x2</key>
			<string>2</string>
			<key>y2</key>
			<string>3</string>
			<key>op</key>
			<string>x</string>
			<key>answer</key>
			<string>5/9</string>
		</dict>
		<dict>
			<key>19</key>
			<string>value</string>
			<key>x1</key>
			<string>5</string>
			<key>y1</key>
			<string>21</string>
			<key>x2</key>
			<string>3</string>
			<key>y2</key>
			<string>8</string>
			<key>op</key>
			<string>x</string>
			<key>answer</key>
			<string>5/56</string>
		</dict>
		<dict>
			<key>20</key>
			<string>value</string>
			<key>x1</key>
			<string>9</string>
			<key>y1</key>
			<string>7</string>
			<key>x2</key>
			<string>4</string>
			<key>y2</key>
			<string>63</string>
			<key>op</key>
			<string>x</string>
			<key>answer</key>
			<string>4/49</string>
		</dict>
		<dict>
			<key>21</key>
			<string>value</string>
			<key>x1</key>
			<string>5</string>
			<key>y1</key>
			<string>24</string>
			<key>x2</key>
			<string>3</string>
			<key>y2</key>
			<string>4</string>
			<key>op</key>
			<string>x</string>
			<key>answer</key>
			<string>5/32</string>
		</dict>





		
		<dict>
			<key>22</key>
			<string>value</string>
			<key>x1</key>
			<string>28</string>
			<key>y1</key>
			<string>5</string>
			<key>x2</key>
			<string>4</string>
			<key>y2</key>
			<string>7</string>
			<key>op</key>
			<string>x</string>
			<key>answer</key>
			<string>16/5</string>
		</dict>
		<dict>
			<key>23</key>
			<string>value</string>
			<key>x1</key>
			<string>5</string>
			<key>y1</key>
			<string>12</string>
			<key>x2</key>
			<string>3</string>
			<key>y2</key>
			<string>4</string>
			<key>op</key>
			<string>x</string>
			<key>answer</key>
			<string>5/16</string>
		</dict>
		<dict>
			<key>24</key>
			<string>value</string>
			<key>x1</key>
			<string>18</string>
			<key>y1</key>
			<string>1</string>
			<key>x2</key>
			<string>4</string>
			<key>y2</key>
			<string>9</string>
			<key>op</key>
			<string>x</string>
			<key>answer</key>
			<string>8</string>
		</dict>
		<dict>
			<key>25</key>
			<string>value</string>
			<key>x1</key>
			<string>18</string>
			<key>y1</key>
			<string>7</string>
			<key>x2</key>
			<string>5</string>
			<key>y2</key>
			<string>9</string>
			<key>op</key>
			<string>x</string>
			<key>answer</key>
			<string>10/7</string>
		</dict>
		<dict>
			<key>26</key>
			<string>value</string>
			<key>x1</key>
			<string>15</string>
			<key>y1</key>
			<string>1</string>
			<key>x2</key>
			<string>4</string>
			<key>y2</key>
			<string>5</string>
			<key>op</key>
			<string>x</string>
			<key>answer</key>
			<string>12</string>
		</dict>
		<dict>
			<key>27</key>
			<string>value</string>
			<key>x1</key>
			<string>7</string>
			<key>y1</key>
			<string>30</string>
			<key>x2</key>
			<string>5</string>
			<key>y2</key>
			<string>6</string>
			<key>op</key>
			<string>x</string>
			<key>answer</key>
			<string>7/36</string>
		</dict>
		<dict>
			<key>28</key>
			<string>value</string>
			<key>x1</key>
			<string>24</string>
			<key>y1</key>
			<string>5</string>
			<key>x2</key>
			<string>2</string>
			<key>y2</key>
			<string>3</string>
			<key>op</key>
			<string>x</string>
			<key>answer</key>
			<string>16/5</string>
		</dict>
		<dict>
			<key>29</key>
			<string>value</string>
			<key>x1</key>
			<string>20</string>
			<key>y1</key>
			<string>3</string>
			<key>x2</key>
			<string>2</string>
			<key>y2</key>
			<string>5</string>
			<key>op</key>
			<string>x</string>
			<key>answer</key>
			<string>8/3</string>
		</dict>
		<dict>
			<key>30</key>
			<string>value</string>
			<key>x1</key>
			<string>5</string>
			<key>y1</key>
			<string>9</string>
			<key>x2</key>
			<string>2</string>
			<key>y2</key>
			<string>15</string>
			<key>op</key>
			<string>x</string>
			<key>answer</key>
			<string>2/27</string>
		</dict>
		<dict>
			<key>31</key>
			<string>value</string>
			<key>x1</key>
			<string>15</string>
			<key>y1</key>
			<string>7</string>
			<key>x2</key>
			<string>2</string>
			<key>y2</key>
			<string>3</string>
			<key>op</key>
			<string>x</string>
			<key>answer</key>
			<string>10/7</string>
		</dict>
		<dict>
			<key>32</key>
			<string>value</string>
			<key>x1</key>
			<string>9</string>
			<key>y1</key>
			<string>7</string>
			<key>x2</key>
			<string>7</string>
			<key>y2</key>
			<string>8</string>
			<key>op</key>
			<string>x</string>
			<key>answer</key>
			<string>9/8</string>
		</dict>
		<dict>
			<key>33</key>
			<string>value</string>
			<key>x1</key>
			<string>21</string>
			<key>y1</key>
			<string>8</string>
			<key>x2</key>
			<string>5</string>
			<key>y2</key>
			<string>7</string>
			<key>op</key>
			<string>x</string>
			<key>answer</key>
			<string>15/8</string>
		</dict>
		<dict>
			<key>34</key>
			<string>value</string>
			<key>x1</key>
			<string>7</string>
			<key>y1</key>
			<string>15</string>
			<key>x2</key>
			<string>3</string>
			<key>y2</key>
			<string>5</string>
			<key>op</key>
			<string>x</string>
			<key>answer</key>
			<string>7/25</string>
		</dict>
		<dict>
			<key>35</key>
			<string>value</string>
			<key>x1</key>
			<string>5</string>
			<key>y1</key>
			<string>3</string>
			<key>x2</key>
			<string>8</string>
			<key>y2</key>
			<string>45</string>
			<key>op</key>
			<string>x</string>
			<key>answer</key>
			<string>8/27</string>
		</dict>
		<dict>
			<key>36</key>
			<string>value</string>
			<key>x1</key>
			<string>3</string>
			<key>y1</key>
			<string>40</string>
			<key>x2</key>
			<string>5</string>
			<key>y2</key>
			<string>7</string>
			<key>op</key>
			<string>x</string>
			<key>answer</key>
			<string>3/56</string>
		</dict>
		<dict>
			<key>37</key>
			<string>value</string>
			<key>x1</key>
			<string>15</string>
			<key>y1</key>
			<string>7</string>
			<key>x2</key>
			<string>4</string>
			<key>y2</key>
			<string>5</string>
			<key>op</key>
			<string>x</string>
			<key>answer</key>
			<string>12/7</string>
		</dict>
		<dict>
			<key>38</key>
			<string>value</string>
			<key>x1</key>
			<string>35</string>
			<key>y1</key>
			<string>9</string>
			<key>x2</key>
			<string>2</string>
			<key>y2</key>
			<string>5</string>
			<key>op</key>
			<string>x</string>
			<key>answer</key>
			<string>14/9</string>
		</dict>
		<dict>
			<key>39</key>
			<string>value</string>
			<key>x1</key>
			<string>42</string>
			<key>y1</key>
			<string>1</string>
			<key>x2</key>
			<string>5</string>
			<key>y2</key>
			<string>7</string>
			<key>op</key>
			<string>x</string>
			<key>answer</key>
			<string>30</string>
		</dict>
		<dict>
			<key>40</key>
			<string>value</string>
			<key>x1</key>
			<string>12</string>
			<key>y1</key>
			<string>5</string>
			<key>x2</key>
			<string>2</string>
			<key>y2</key>
			<string>3</string>
			<key>op</key>
			<string>x</string>
			<key>answer</key>
			<string>8/5</string>
		</dict>
		<dict>
			<key>40</key>
			<string>value</string>
			<key>x1</key>
			<string>10</string>
			<key>y1</key>
			<string>7</string>
			<key>x2</key>
			<string>3</string>
			<key>y2</key>
			<string>5</string>
			<key>op</key>
			<string>x</string>
			<key>answer</key>
			<string>6/7</string>
		</dict>				
		

	</array>
</dict>
</plist>
