<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>levels</key>
	<array>
		<dict>
			<key>bluetime</key>
			<integer>1</integer>
			<key>level1</key>
			<string>value</string>
			<key>x</key>
			<string>39.5</string>
			<key>y</key>
			<string>8.5</string>
			<key>z</key>
			<string>100</string>
			<key>targetnumber</key>
			<integer>20</integer>
			<key>time2</key>
			<integer>80</integer>
			<key>time1</key>
			<integer>10</integer>
			<key>time3</key>
			<integer>300</integer>
			<key>leveltime</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>leveltime</key>
			<integer>30</integer>
			<key>bluetime</key>
			<integer>1</integer>
			<key>level2</key>
			<string>value</string>
			<key>x</key>
			<string>56.5</string>
			<key>y</key>
			<string>14</string>
			<key>z</key>
			<string>97</string>
			<key>targetnumber</key>
			<integer>20</integer>
			<key>time2</key>
			<integer>80</integer>
			<key>time1</key>
			<integer>10</integer>
			<key>time3</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>leveltime</key>
			<integer>40</integer>
			<key>bluetime</key>
			<integer>1</integer>
			<key>level3</key>
			<string>value</string>
			<key>x</key>
			<string>66.5</string>
			<key>y</key>
			<string>25</string>
			<key>z</key>
			<string>95</string>
			<key>targetnumber</key>
			<integer>20</integer>
			<key>time2</key>
			<integer>80</integer>
			<key>time1</key>
			<integer>10</integer>
			<key>time3</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>leveltime</key>
			<integer>40</integer>
			<key>bluetime</key>
			<integer>1</integer>
			<key>level4</key>
			<string>value</string>
			<key>x</key>
			<string>58</string>
			<key>y</key>
			<string>41</string>
			<key>z</key>
			<string>93</string>
			<key>targetnumber</key>
			<integer>20</integer>
			<key>time2</key>
			<integer>80</integer>
			<key>time1</key>
			<integer>10</integer>
			<key>time3</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>leveltime</key>
			<integer>80</integer>
			<key>bluetime</key>
			<integer>2</integer>
			<key>level5</key>
			<string>value</string>
			<key>x</key>
			<string>42</string>
			<key>y</key>
			<string>50</string>
			<key>z</key>
			<string>90</string>
			<key>targetnumber</key>
			<integer>20</integer>
			<key>time2</key>
			<integer>60</integer>
			<key>time1</key>
			<integer>10</integer>
			<key>time3</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>leveltime</key>
			<integer>60</integer>
			<key>bluetime</key>
			<real>1.3</real>
			<key>level6</key>
			<string>value</string>
			<key>x</key>
			<string>25</string>
			<key>y</key>
			<string>57</string>
			<key>z</key>
			<string>88</string>
			<key>targetnumber</key>
			<integer>20</integer>
			<key>time2</key>
			<integer>60</integer>
			<key>time1</key>
			<integer>10</integer>
			<key>time3</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>leveltime</key>
			<integer>30</integer>
			<key>bluetime</key>
			<integer>1</integer>
			<key>level7</key>
			<string>value</string>
			<key>x</key>
			<string>11</string>
			<key>y</key>
			<string>71</string>
			<key>z</key>
			<string>85</string>
			<key>targetnumber</key>
			<integer>20</integer>
			<key>time2</key>
			<integer>80</integer>
			<key>time1</key>
			<integer>10</integer>
			<key>time3</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>leveltime</key>
			<integer>30</integer>
			<key>bluetime</key>
			<integer>1</integer>
			<key>level8</key>
			<string>value</string>
			<key>x</key>
			<string>19</string>
			<key>y</key>
			<string>85</string>
			<key>z</key>
			<string>83</string>
			<key>targetnumber</key>
			<integer>20</integer>
			<key>time2</key>
			<integer>80</integer>
			<key>time1</key>
			<integer>10</integer>
			<key>time3</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>leveltime</key>
			<integer>40</integer>
			<key>bluetime</key>
			<integer>1</integer>
			<key>level9</key>
			<string>value</string>
			<key>x</key>
			<string>53.5</string>
			<key>y</key>
			<string>95</string>
			<key>z</key>
			<string>80</string>
			<key>targetnumber</key>
			<integer>20</integer>
			<key>time2</key>
			<integer>80</integer>
			<key>time1</key>
			<integer>10</integer>
			<key>time3</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>leveltime</key>
			<integer>60</integer>
			<key>bluetime</key>
			<integer>1</integer>
			<key>level10</key>
			<string>value</string>
			<key>x</key>
			<string>70.5</string>
			<key>y</key>
			<string>99</string>
			<key>z</key>
			<string>75</string>
			<key>targetnumber</key>
			<integer>20</integer>
			<key>time2</key>
			<integer>80</integer>
			<key>time1</key>
			<integer>10</integer>
			<key>time3</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>leveltime</key>
			<integer>40</integer>
			<key>bluetime</key>
			<integer>1</integer>
			<key>level11</key>
			<string>value</string>
			<key>x</key>
			<string>76</string>
			<key>y</key>
			<string>112</string>
			<key>z</key>
			<string>72</string>
			<key>targetnumber</key>
			<integer>20</integer>
			<key>time2</key>
			<integer>80</integer>
			<key>time1</key>
			<integer>10</integer>
			<key>time3</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>leveltime</key>
			<integer>40</integer>
			<key>bluetime</key>
			<integer>1</integer>
			<key>level12</key>
			<string>value</string>
			<key>x</key>
			<string>67.5</string>
			<key>y</key>
			<string>125.5</string>
			<key>z</key>
			<string>70</string>
			<key>targetnumber</key>
			<integer>20</integer>
			<key>time2</key>
			<integer>80</integer>
			<key>time1</key>
			<integer>10</integer>
			<key>time3</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>leveltime</key>
			<integer>40</integer>
			<key>bluetime</key>
			<integer>1</integer>
			<key>level13</key>
			<string>value</string>
			<key>x</key>
			<string>57</string>
			<key>y</key>
			<string>140</string>
			<key>z</key>
			<string>70</string>
			<key>targetnumber</key>
			<integer>20</integer>
			<key>time2</key>
			<integer>80</integer>
			<key>time1</key>
			<integer>10</integer>
			<key>time3</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>leveltime</key>
			<integer>60</integer>
			<key>bluetime</key>
			<integer>1</integer>
			<key>level14</key>
			<string>value</string>
			<key>x</key>
			<string>41</string>
			<key>y</key>
			<string>146</string>
			<key>z</key>
			<string>65</string>
			<key>targetnumber</key>
			<integer>20</integer>
			<key>time2</key>
			<integer>80</integer>
			<key>time1</key>
			<integer>10</integer>
			<key>time3</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>leveltime</key>
			<integer>40</integer>
			<key>bluetime</key>
			<real>1.2</real>
			<key>level15</key>
			<string>value</string>
			<key>x</key>
			<string>27.5</string>
			<key>y</key>
			<string>156</string>
			<key>z</key>
			<string>60</string>
			<key>targetnumber</key>
			<integer>10</integer>
			<key>time2</key>
			<integer>80</integer>
			<key>time1</key>
			<integer>10</integer>
			<key>time3</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>leveltime</key>
			<integer>40</integer>
			<key>bluetime</key>
			<integer>1</integer>
			<key>level16</key>
			<string>value</string>
			<key>x</key>
			<string>32.5</string>
			<key>y</key>
			<string>172.5</string>
			<key>z</key>
			<string>57</string>
			<key>targetnumber</key>
			<integer>20</integer>
			<key>time2</key>
			<integer>80</integer>
			<key>time1</key>
			<integer>10</integer>
			<key>time3</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>leveltime</key>
			<integer>60</integer>
			<key>bluetime</key>
			<real>1.6</real>
			<key>level17</key>
			<string>value</string>
			<key>x</key>
			<string>45</string>
			<key>y</key>
			<string>184</string>
			<key>z</key>
			<string>55</string>
			<key>targetnumber</key>
			<integer>20</integer>
			<key>time2</key>
			<integer>80</integer>
			<key>time1</key>
			<integer>10</integer>
			<key>time3</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>leveltime</key>
			<integer>60</integer>
			<key>bluetime</key>
			<real>3.5</real>
			<key>level18</key>
			<string>value</string>
			<key>x</key>
			<string>59</string>
			<key>y</key>
			<string>190</string>
			<key>z</key>
			<string>45</string>
			<key>targetnumber</key>
			<integer>10</integer>
			<key>time2</key>
			<integer>80</integer>
			<key>time1</key>
			<integer>10</integer>
			<key>time3</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>leveltime</key>
			<integer>60</integer>
			<key>bluetime</key>
			<real>3.5</real>
			<key>level19</key>
			<string>value</string>
			<key>x</key>
			<string>70</string>
			<key>y</key>
			<string>234</string>
			<key>z</key>
			<string>42</string>
			<key>targetnumber</key>
			<integer>10</integer>
			<key>time2</key>
			<integer>80</integer>
			<key>time1</key>
			<integer>10</integer>
			<key>time3</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>leveltime</key>
			<integer>40</integer>
			<key>bluetime</key>
			<integer>3</integer>
			<key>level20</key>
			<string>value</string>
			<key>x</key>
			<string>50</string>
			<key>y</key>
			<string>240</string>
			<key>z</key>
			<string>40</string>
			<key>targetnumber</key>
			<integer>5</integer>
			<key>time2</key>
			<integer>80</integer>
			<key>time1</key>
			<integer>10</integer>
			<key>time3</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>leveltime</key>
			<integer>20</integer>
			<key>bluetime</key>
			<integer>1</integer>
			<key>level21</key>
			<string>value</string>
			<key>x</key>
			<string>32</string>
			<key>y</key>
			<string>252</string>
			<key>z</key>
			<string>30</string>
			<key>targetnumber</key>
			<integer>10</integer>
			<key>time2</key>
			<integer>80</integer>
			<key>time1</key>
			<integer>10</integer>
			<key>time3</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>leveltime</key>
			<integer>40</integer>
			<key>bluetime</key>
			<real>2.5</real>
			<key>level22</key>
			<string>value</string>
			<key>x</key>
			<string>29.5</string>
			<key>y</key>
			<string>297</string>
			<key>z</key>
			<string>27</string>
			<key>targetnumber</key>
			<integer>10</integer>
			<key>time2</key>
			<integer>80</integer>
			<key>time1</key>
			<integer>10</integer>
			<key>time3</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>leveltime</key>
			<integer>20</integer>
			<key>bluetime</key>
			<integer>1</integer>
			<key>level23</key>
			<string>value</string>
			<key>x</key>
			<string>49</string>
			<key>y</key>
			<string>305</string>
			<key>z</key>
			<string>25</string>
			<key>targetnumber</key>
			<integer>10</integer>
			<key>time2</key>
			<integer>80</integer>
			<key>time1</key>
			<integer>10</integer>
			<key>time3</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>leveltime</key>
			<integer>40</integer>
			<key>bluetime</key>
			<real>2.6</real>
			<key>level24</key>
			<string>value</string>
			<key>x</key>
			<string>68.5</string>
			<key>y</key>
			<string>308</string>
			<key>z</key>
			<string>22</string>
			<key>targetnumber</key>
			<integer>5</integer>
			<key>time2</key>
			<integer>80</integer>
			<key>time1</key>
			<integer>10</integer>
			<key>time3</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>leveltime</key>
			<integer>40</integer>
			<key>bluetime</key>
			<real>2.4</real>
			<key>level25</key>
			<string>value</string>
			<key>x</key>
			<string>83</string>
			<key>y</key>
			<string>324</string>
			<key>z</key>
			<string>20</string>
			<key>targetnumber</key>
			<integer>5</integer>
			<key>time2</key>
			<integer>80</integer>
			<key>time1</key>
			<integer>10</integer>
			<key>time3</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>leveltime</key>
			<integer>60</integer>
			<key>bluetime</key>
			<real>4.6</real>
			<key>level26</key>
			<string>value</string>
			<key>x</key>
			<string>69</string>
			<key>y</key>
			<string>338</string>
			<key>z</key>
			<string>17</string>
			<key>targetnumber</key>
			<integer>5</integer>
			<key>time2</key>
			<integer>80</integer>
			<key>time1</key>
			<integer>10</integer>
			<key>time3</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>leveltime</key>
			<integer>80</integer>
			<key>level27</key>
			<string>value</string>
			<key>bluetime</key>
			<real>8.4</real>
			<key>x</key>
			<string>47.5</string>
			<key>y</key>
			<string>345</string>
			<key>z</key>
			<string>15</string>
			<key>targetnumber</key>
			<integer>5</integer>
			<key>time2</key>
			<integer>80</integer>
			<key>time1</key>
			<integer>10</integer>
			<key>time3</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>leveltime</key>
			<integer>80</integer>
			<key>level28</key>
			<string>value</string>
			<key>bluetime</key>
			<real>10.8</real>
			<key>x</key>
			<string>28</string>
			<key>y</key>
			<string>351</string>
			<key>z</key>
			<string>12</string>
			<key>targetnumber</key>
			<integer>5</integer>
			<key>time2</key>
			<integer>80</integer>
			<key>time1</key>
			<integer>10</integer>
			<key>time3</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>leveltime</key>
			<integer>80</integer>
			<key>leve29</key>
			<string>value</string>
			<key>bluetime</key>
			<real>6.5</real>
			<key>x</key>
			<string>19</string>
			<key>y</key>
			<string>366.5</string>
			<key>z</key>
			<string>10</string>
			<key>targetnumber</key>
			<integer>10</integer>
			<key>time2</key>
			<integer>80</integer>
			<key>time1</key>
			<integer>10</integer>
			<key>time3</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>leveltime</key>
			<integer>60</integer>
			<key>leve30</key>
			<string>value</string>
			<key>x</key>
			<string>34</string>
			<key>bluetime</key>
			<real>2.5</real>
			<key>y</key>
			<string>379</string>
			<key>z</key>
			<string>5</string>
			<key>targetnumber</key>
			<integer>10</integer>
			<key>time2</key>
			<integer>80</integer>
			<key>time1</key>
			<integer>10</integer>
			<key>time3</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>leveltime</key>
			<integer>20</integer>
			<key>level31</key>
			<string>value</string>
			<key>x</key>
			<string>55.5</string>
			<key>bluetime</key>
			<integer>1</integer>
			<key>y</key>
			<string>388</string>
			<key>z</key>
			<string>0</string>
			<key>targetnumber</key>
			<integer>10</integer>
			<key>time2</key>
			<integer>80</integer>
			<key>time1</key>
			<integer>10</integer>
			<key>time3</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>leveltime</key>
			<integer>80</integer>
			<key>level32</key>
			<string>value</string>
			<key>x</key>
			<string>56</string>
			<key>bluetime</key>
			<integer>4</integer>
			<key>y</key>
			<string>420</string>
			<key>z</key>
			<string>0</string>
			<key>targetnumber</key>
			<integer>10</integer>
			<key>time2</key>
			<integer>80</integer>
			<key>time1</key>
			<integer>10</integer>
			<key>time3</key>
			<integer>300</integer>
		</dict>
	</array>
</dict>
</plist>
