<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ticks</key>
	<array>
		<dict>
			<key>tick1</key>
			<string>value</string>
			<key>x</key>
			<string>0.902</string>
			<key>y</key>
			<string>0.328</string>
			<key>w</key>
			<string>0.059</string>
			<key>h</key>
			<string>0.048</string>
		</dict>
		<dict>
			<key>tick2</key>
			<string>value</string>
			<key>x</key>
			<string>0.9</string>
			<key>y</key>
			<string>0.358</string>
			<key>w</key>
			<string>0.058</string>
			<key>h</key>
			<string>0.046</string>
		</dict>
		<dict>
			<key>tick3</key>
			<string>value</string>
			<key>x</key>
			<string>0.899</string>
			<key>y</key>
			<string>0.39</string>
			<key>w</key>
			<string>0.057</string>
			<key>h</key>
			<string>0.049</string>
		</dict>
		<dict>
			<key>tick4</key>
			<string>value</string>
			<key>x</key>
			<string>0.897</string>
			<key>y</key>
			<string>0.42</string>
			<key>w</key>
			<string>0.055</string>
			<key>h</key>
			<string>0.048</string>
		</dict>
		<dict>
			<key>tick5</key>
			<string>value</string>
			<key>x</key>
			<string>0.896</string>
			<key>y</key>
			<string>0.449</string>
			<key>w</key>
			<string>0.053</string>
			<key>h</key>
			<string>0.046</string>
		</dict>
		<dict>
			<key>tick6</key>
			<string>value</string>
			<key>x</key>
			<string>0.894</string>
			<key>y</key>
			<string>0.477</string>
			<key>w</key>
			<string>0.052</string>
			<key>h</key>
			<string>0.05</string>
		</dict>
		<dict>
			<key>tick7</key>
			<string>value</string>
			<key>x</key>
			<string>0.892</string>
			<key>y</key>
			<string>0.508</string>
			<key>w</key>
			<string>0.05</string>
			<key>h</key>
			<string>0.052</string>
		</dict>
		<dict>
			<key>tick8</key>
			<string>value</string>
			<key>x</key>
			<string>0.889</string>
			<key>y</key>
			<string>0.538</string>
			<key>w</key>
			<string>0.049</string>
			<key>h</key>
			<string>0.051</string>
		</dict>
		<dict>
			<key>tick9</key>
			<string>value</string>
			<key>x</key>
			<string>0.887</string>
			<key>y</key>
			<string>0.567</string>
			<key>w</key>
			<string>0.048</string>
			<key>h</key>
			<string>0.049</string>
		</dict>
		<dict>
			<key>tick10</key>
			<string>value</string>
			<key>x</key>
			<string>0.884</string>
			<key>y</key>
			<string>0.595</string>
			<key>w</key>
			<string>0.048</string>
			<key>h</key>
			<string>0.051</string>
		</dict>
		<dict>
			<key>tick11</key>
			<string>value</string>
			<key>x</key>
			<string>0.881</string>
			<key>y</key>
			<string>0.626</string>
			<key>w</key>
			<string>0.046</string>
			<key>h</key>
			<string>0.054</string>
		</dict>
		<dict>
			<key>tick12</key>
			<string>value</string>
			<key>x</key>
			<string>0.879</string>
			<key>y</key>
			<string>0.655</string>
			<key>w</key>
			<string>0.045</string>
			<key>h</key>
			<string>0.054</string>
		</dict>
		<dict>
			<key>tick13</key>
			<string>value</string>
			<key>x</key>
			<string>0.875</string>
			<key>y</key>
			<string>0.683</string>
			<key>w</key>
			<string>0.043</string>
			<key>h</key>
			<string>0.049</string>
		</dict>
		<dict>
			<key>tick14</key>
			<string>value</string>
			<key>x</key>
			<string>0.872</string>
			<key>y</key>
			<string>0.71</string>
			<key>w</key>
			<string>0.043</string>
			<key>h</key>
			<string>0.052</string>
		</dict>
		<dict>
			<key>tick15</key>
			<string>value</string>
			<key>x</key>
			<string>0.869</string>
			<key>y</key>
			<string>0.738</string>
			<key>w</key>
			<string>0.042</string>
			<key>h</key>
			<string>0.049</string>
		</dict>
		<dict>
			<key>tick16</key>
			<string>value</string>
			<key>x</key>
			<string>0.866</string>
			<key>y</key>
			<string>0.765</string>
			<key>w</key>
			<string>0.041</string>
			<key>h</key>
			<string>0.052</string>
		</dict>
		<dict>
			<key>tick17</key>
			<string>value</string>
			<key>x</key>
			<string>0.863</string>
			<key>y</key>
			<string>0.795</string>
			<key>w</key>
			<string>0.04</string>
			<key>h</key>
			<string>0.053</string>
		</dict>
		<dict>
			<key>tick18</key>
			<string>value</string>
			<key>x</key>
			<string>0.86</string>
			<key>y</key>
			<string>0.822</string>
			<key>w</key>
			<string>0.039</string>
			<key>h</key>
			<string>0.054</string>
		</dict>
		<dict>
			<key>tick19</key>
			<string>value</string>
			<key>x</key>
			<string>0.856</string>
			<key>y</key>
			<string>0.851</string>
			<key>w</key>
			<string>0.038</string>
			<key>h</key>
			<string>0.053</string>
		</dict>
		<dict>
			<key>tick20</key>
			<string>value</string>
			<key>x</key>
			<string>0.853</string>
			<key>y</key>
			<string>0.878</string>
			<key>w</key>
			<string>0.037</string>
			<key>h</key>
			<string>0.054</string>
		</dict>
		
	</array>
</dict>
</plist>
