
/*.gameview{background: black; width: 100vw; height: 100vh;}*/
.gameview{background-image: url('../img/gameboard.jpg'); width: 100vw; height: 100vh; background-repeat: no-repeat; background-size: 100% 100%;}
/* key board*/
/*.keypng1{position: absolute;width: 10vw;bottom: 11.5vw;height: 10vw;border-radius: 5vw;background: #5099d8;
	display: table;color: black;font-weight: bold;font-size: 5vw;
	-webkit-touch-callout:none;-webkit-user-select:none;user-select:none;outline:none; }
#key0{right:4.5vw; }
#key1{left: 4.5vw;}
#key3{left: 22.5vw;}
#key8{right: 22.5vw;}
#key5{left:40.5vw;}
#key6{right: 40.5vw}
#key7{left: 58.5vw}
#key4{right: 58.5vw}
#key9{left: 76.5vw;}
#key2{right: 76.5vw;}
.keypng2 span{width: 100%;vertical-align: middle;display: table-cell;text-align: center;background-color:transparent;font-size: 5vw;}
.keypng1 span{width: 100%;vertical-align: middle;display: table-cell;text-align: center;background-color:transparent;font-size: 5vw;}

.keypng2{position: absolute;width: 10vw;bottom:3vw;height: 10vw;border-radius: 5vw;background: #5099d8;
	display: table;color: black;font-weight: bold;font-size: 5vw;
	-webkit-touch-callout:none;-webkit-user-select:none;user-select:none;outline:none;}
.keypng3{position: absolute;width: 10vw;height: 10vw;border-radius: 5vw;
    background: #5099d8;display: table;color: black;font-weight: bold;font-size: 5vw;
    -webkit-touch-callout:none;-webkit-user-select:none;user-select:none;outline:none;
    background-image: url("../img/addsign.png"); bottom: 20vw;right: 4vw; background-size: 90% 90%; 
    background-repeat: no-repeat; background-position: center; z-index: 100;

}
.keypng4{position: absolute;width: 10vw;height: 10vw;border-radius: 5vw;
    background: #5099d8;display: table;color: black;font-weight: bold;font-size: 5vw;
    -webkit-touch-callout:none;-webkit-user-select:none;user-select:none;outline:none; 
    background-image: url("../img/divide.png");right: 13vw; bottom: 30vw; background-size: 70% 70%; 
    background-repeat: no-repeat;background-position: center; z-index: 100;
}*/



/*.axisarrow{
	position: absolute; bottom: 0px; background: url('../img/real-arrow.png'); width: 90%; margin-left: 5%; height: 15vw; background-size: 100% auto; background-repeat: no-repeat;
}

.axisarrow1{
	position: absolute; bottom: 0px; background: url('../img/real-arrow1.png'); width: 90%; margin-left: 5%; height: 15vw; background-size: 100% auto; background-repeat: no-repeat;
}*/

.axisarrow{
	position: absolute; bottom: 10px; background: url('../img/new/numberline1.png'); width: 90%; margin-left: 5%; height: 9vw; 
	background-size: 100% auto; background-repeat: no-repeat; z-index: 101;
}

.axisarrow1{
	position: absolute; bottom: 10px; background: url('../img/new/numberline2.png'); width: 90%; margin-left: 5%; height: 9vw; 
	background-size: 100% auto; background-repeat: no-repeat; z-index: 102;
}
.comparekeyboard{
	position: absolute; bottom: 15px; width: 70%; margin-left: 15%; height: 5vw; color: red;
}
#smallerbutton{
	float: left; width: 33%; 
}
#equalbutton{
	float: left; width: 33%; 
}
#higherbutton{
	float: left; width: 33%; 
}

.keyboardarrow{width: 100%; height: 8vw;}
.numberarrow{ width: 100%; height: 7vw;}
.keyboardarrow .firsttd{ width: 9.5%; float: left; height: 8vw;}
.keyboardarrow .thirdtd{ width: 9.5%; float: left; height: 8vw;}
.keyboardarrow .secondtd{ font-size: 0px; height: 8vw; width:1.62%; float: left;}
/**/

#levelbar1{bottom:25%;left:44%;position: absolute;width: 28vw;height:32vw;display: table;/*border-collapse:collapse;*/}
#levelbar1 td{/*border:3.5px; border-color: white;border-style: solid;*/padding-top: 0px;padding-bottom: 0px;border-radius: 3vw;}
.border1{width: 5vw;height: 5vw;border-radius: 3vw;border-color: #e0ea7f;border-style: solid;border-width: 2px;}
.border1 div{width: 5vw; height: 5vw; background-color:transparent;border-radius: 2.5vw;}



/*topbar*/
.topBar{position:absolute;top:1.3vh;left:0;height:9%;width:100%;/*border-bottom:5px solid #f00;*/color:white; z-index: 50;}
.topBar #back{ -webkit-touch-callout:none;-webkit-user-select:none;user-select:none;outline:none;
	background-color:transparent;width:4%;margin-top:1.3vh;border:none;font-size:3vw;
	text-decoration:none;margin-left:3.5%; 
}
.topBar #time{position:absolute;right:67.5%;top:8px;margin:0;font-size:3vw;font-weight:bold; color: black;}

.topBar #highscore{position:absolute; right:25%; top:8px; margin:0; font-weight:bold; color: black; font-size: 3vw;}
.topBar #score{position:absolute; left:43%;  margin:0; font-size:3vw;  width: 20%; top: 8px; padding-top: 4vh;
	 background-image: url("../img/new/Score.png"); background-size: 100% 100%; height: 10vh; text-align: center;
	 color: black;
} 



/* problem content */
/*.blockContainer{position:absolute; top:7.5%; left:0; width:100%; bottom: 24vw; }
.blockContainer p{ text-align: center;}

#problem0 p{ float: left;}

.porblemcontent{position:absolute; border-radius:7px; z-index: 10; text-align:center;color:#fff;font-weight:bold;
	font-size:5vw;
	transition:bottom .2s ease-in,width .2s ease-in,height .2s ease-in,border-color .2s ease-in,font-size .2s ease-in;
	border-style:solid; border-width:4px; line-height: 10vw; width: 34%; margin-left: 20px; height: 13vw;}
#problem0{ color:yellow; border-radius: 10px; font-size: 7vw; text-align: left; padding-left: 25px;
	height: 14vw; width: 65%; border-color: blue; bottom:0vw;}
#problem1{ bottom:18vw; border-color:#00ff00;}
#problem2{ bottom:35vw; border-color:#22dd00;}
#problem3{ bottom:52vw; border-color:#44bb00;}
#problem4{ bottom:69vw; border-color:#669900;}
#problem5{ bottom:86vw; border-color:#887700;}
#problem6{ bottom:103vw; border-color:#aa5500;}
#problem7{ bottom:120vw; border-color:#ff0000;}*/

/*#enterclick{ height: 14vw; z-index: 15; width: 40vw; background: transparent; position: absolute; bottom: 0vw; left: 30vw; 
	font-weight: bold; font-size: 7.5vw; line-height: 10.5vw; color: yellow; text-decoration: none; border: 4px solid transparent;
    }
#enterp{ min-width: 15vw;}*/

