.keyboardcontaioner{
	position: absolute; width: 100%; bottom: 10px; height: 9vw;  display: table; border-spacing: 3%; z-index: 100;
}
.keyboard{
	display: table-cell; background-size: 70% auto; background-repeat: no-repeat; background-position: center; 
}

.keypng4{
	position: absolute; background-size: 100% 100%; width: 7vw; height: 6vw; background-image: url("../img/divide.png");
	bottom: 30vh; right: 1vw; z-index: 50;
}

.keypng3{
	position: absolute; background-size: 100% 100%; width: 7vw; height: 6vw; background-image: url("../img/negative.png");
	bottom: 18vh; right: 1vw; z-index: 50;
}

.keypng5 {
	position: absolute; background-size: 100% 100%; width: 7vw; height: 6vw; background-image: url("../img/decimal.png");
	bottom: 42vh; right: 1vw; z-index: 50;
}
/*.keypng7{
	position: absolute; background-size: 100% 100%; width: 7vw; height: 8.5vw; background-image: url("../img/right.png");
	bottom: 34vh; right: 1vw; z-index: 50;
}

.keypng6{
	position: absolute; background-size: 100% 100%; width: 7vw; height: 8.5vw; background-image: url("../img/equal.png");
	bottom: 18vh; right: 1vw; z-index: 50;
}

.keypng8 {
	position: absolute; background-size: 100% 100%; width: 7vw; height: 8.5vw; background-image: url("../img/left.png");
	bottom: 51vh; right: 1vw; z-index: 50;
}*/

.fibo_ball{
	position: absolute; top: 0vw; width: 4.8vw; left: 77vw;
}
.girlpng{
	position: absolute; bottom: 18vh; width: 33.5vw; left: 65vw;
}

.catpng{
	position: absolute; bottom: 18vh; width: 20vw; left: 10vw; z-index: 29;
}

.left1png{
	position: absolute; left: 0px; width: 20vw; bottom: 10vh; z-index: 30;
}
.right2png{
	position: absolute; right: 0px; width: 20vw; bottom: 0vh; 
}

.cloudpng{
	position: absolute; left: 6vw; width: 32vw; top: 9vh; z-index: 20;
}

/*.starimg{
	position: absolute; width: 1.8vw; 
}
#starimg0{
	bottom: 30.5vh; right: 8.8vw;
}

#starimg1{
	bottom: 33.3vh; right: 8.9vw;
}
#starimg2{
	bottom: 36.5vh; right: 9.1vw;
}
#starimg3{
	bottom: 39.5vh; right: 9.2vw;
}
#starimg4{
	bottom: 42.5vh; right: 9.3vw;
}
#starimg5{
	bottom: 45.3vh; right: 9.6vw;
}
#starimg6{
	bottom: 48vh; right: 9.8vw;
}
#starimg7{
	bottom: 51.2vh; right: 10.2vw;
}
#starimg8{
	bottom: 54.3vh; right: 10.4vw;
}
#starimg9{
	bottom: 57vh; right: 10.7vw;
}

#starimg10{
	bottom: 59.8vh; right: 11vw;
}
#starimg11{
	bottom: 62.7vh; right: 11.3vw;
}
#starimg12{
	bottom: 65.6vh; right: 11.6vw;
}
#starimg13{
	bottom: 68.3vh; right: 11.9vw;
}
#starimg14{
	bottom: 71vh; right: 12.2vw;
}
#starimg15{
	bottom: 73.7vh; right: 12.5vw;
}
#starimg16{
	bottom: 76.6vh; right: 12.8vw;
}#starimg17{
	bottom: 79.3vh; right: 13.1vw;
}
#starimg18{
	bottom: 82.1vh; right: 13.4vw;
}#starimg19{
	bottom: 84.8vh; right: 13.7vw;
}*/

.starimg{
	position: absolute;
}
#starimg0{
	bottom: 30vh; right: 6.6vw; width: 6.3vw; height: 5.5vh;
}

#starimg1{
	bottom: 32.9vh; right: 6.7vw; width: 6.2vw; height: 6.1vh;
}
#starimg2{
	bottom: 36.1vh; right: 6.9vw; width: 6.2vw; height: 5.8vh;
}
#starimg3{
	bottom: 39vh; right: 7.2vw; width: 6vw; height: 6vh;
}
#starimg4{
	bottom: 42.2vh; right: 7.41vw; width: 5.8vw; height: 5.8vh;
}
#starimg5{
	bottom: 44.9vh; right: 7.73vw; width: 5.65vw; height: 5.8vh;
}
#starimg6{
	bottom: 47.6vh; right: 7.87vw; width: 5.65vw; height: 6.6vh;
}
#starimg7{
	bottom: 50.7vh; right: 8.2vw; width: 5.65vw; height: 5.9vh;
}
#starimg8{
	bottom: 53.7vh; right: 8.6vw; width: 5.5vw; height: 6vh;
}
#starimg9{
	bottom: 56.3vh; right: 8.7vw; width: 5.4vw; height: 6.4vh;
}

#starimg10{
	bottom: 59.5vh; right: 9.15vw; width: 5.3vw; height: 6.1vh;
}
#starimg11{
	bottom: 62.4vh; right: 9.63vw; width: 5vw; height: 6.2vh;
}
#starimg12{
	bottom: 65.3vh; right: 9.8vw; width: 5.05vw; height: 6vh;
}
#starimg13{
	bottom: 67.8vh; right: 10.3vw; width: 4.75vw; height: 6.3vh;
}
#starimg14{
	bottom: 70.8vh; right: 10.5vw; width: 4.8vw; height: 6vh;
}
#starimg15{ 
	bottom: 73.5vh; right: 10.9vw; width: 4.8vw; height: 6.2vh;
}
#starimg16{
	bottom: 76.4vh; right: 11.4vw; width: 4.6vw; height: 6.1vh;
}#starimg17{
	bottom: 79.2vh; right: 11.6vw; width: 4.5vw; height: 6.2vh;
}
#starimg18{
	bottom: 81.9vh; right: 12vw; width: 4.4vw; height: 6.1vh;
}
#starimg19{
	bottom: 84.3vh; right: 12.5vw; width: 4.4vw; height: 5.2vh;
}



.blockContainer{position:relative; width: 100%; height: 78vh; }

#entercss{
	position: absolute; font-size: 3.5vw; display: flex; align-items: center; justify-content: center;
	width: 25vw; height: 10vw; z-index: 200; border-radius: 2vw; border: 1vw solid red; background-color: white;
	left: 51%; top: 6vw;
}
#enterpng{
	position: absolute; height: 13vw; z-index: 201; left: 59%; top: 12vw; 
	-webkit-animation: enteranimation 2s infinite; -webkit-animation-direction: alternate;
	animation: enteranimation 2s infinite; animation-direction: alternate;

}

#swipecss{
	position: absolute; font-size: 3.5vw; display: flex; align-items: center; justify-content: center;
	width: 25vw; height: 10vw; z-index: 200; border-radius: 2vw; border: 1vw solid red; background-color: white;
	left: 51%; top: 6vw;
}
#swipepng{
	position: absolute; height: 13vw; z-index: 201; left: 59%; /*top: 18vw;*/ top: calc(85vh - 28vw); top: -webkit-calc(85vh - 28vw);
	-webkit-animation: swipeanimation 2s infinite; -webkit-animation-direction: alternate;
	animation: swipeanimation 2s infinite; animation-direction: alternate;

}

#enterclick{
	width: 17vw; height: 17vw;  background-image: url(../img/new/answer1.png); background-repeat: no-repeat; background-size: 100% 100%;
	display: flex; align-items: center; justify-content: center; font-size: 4.5vw; position: absolute; 
	left: 58%;  z-index: 50; bottom: calc(8vw - 5vh); bottom: -webkit-calc(8vw - 5vh);
}

#enterclick p{
	margin-left: -4vw; margin-bottom: 0px;
}

#enterclick1{
	width: 17vw; height: 11vw;  background-image: url(../img/new/answer.png); background-repeat: no-repeat; background-size: 100% 100%;
	display: flex; align-items: center; justify-content: center;  position: absolute; 
	left: 58%;  z-index: 50; bottom: calc(8vw - 5vh); bottom: -webkit-calc(8vw - 5vh); /*font-size: 4.5vw;*/ font-size: 4vw;
}
#enterclick1 p{
	margin-left: -4vw; margin-bottom: 0px;
}

.porblemcontent{
	width: 22vw; height: 8vw; border-radius: 7px; background-color: #faf9fa; border: 3px solid #9a9897;	
	display: flex; align-items: center; justify-content: center;  position: absolute; 
    background: transparent; border-color: transparent; 
    transition:bottom 1s ease-in,width .2s ease-in,height .2s ease-in,border-color .2s ease-in,font-size .2s ease-in;
    font-size: 4vw;  /*font-size: 4.5vw;*/
}

#question{
	width: 29vw; height: 17vw; display: flex; align-items: center; justify-content: center; font-size: 5vw; position: absolute;
	background-image: url(../img/new/question1.png); background-color: transparent; border-radius: 0px !important;
	border: 0px solid transparent; background-repeat: no-repeat; background-size: 100% 100%; 
	left: 24%; z-index: 50; bottom: calc(8vw - 5vh); bottom: -webkit-calc(8vw - 5vh);
}
#question1{
	/*width: 29vw;*/ width: 31vw; height: 11vw; display: flex; align-items: center; justify-content: center; font-size: 5vw; position: absolute;
	background-image: url(../img/new/problem.png); background-color: transparent; border-radius: 0px !important;
	border: 0px solid transparent; background-repeat: no-repeat; background-size: 100% 100%; 
	left: 24%; z-index: 50; bottom: calc(8vw - 5vh); bottom: -webkit-calc(8vw - 5vh);
	
}






.normalfrac { display: inline-block;
    position: relative;
    vertical-align: middle;
    letter-spacing: 0.001em;
    text-align: center; width: 12vw; height: 8.5vw;
}
.normalfrac .top-numerator {
    position: absolute; width: 100%; top: 0px;
    text-align: center;
}

.normalfrac .bottom-denominator {
    position: absolute; width: 100%; top: 4.4vw;
    text-align: center;
}

.normalfrac .bottom-denominator >span{
	border-top: 2px solid black;
}


.normalfrac span {
	padding: 0.1em; display: inline-block;
}

.frac_1{
	width: 6vw; text-align: center;
}
.frac{
	display: inline-block; position: relative; vertical-align: middle; text-align: center; letter-spacing: 0.001em; width: 7.5vw; height: 8.5vw;
}

.frac >span {
	display: block;	padding: 0.1em; width: 7.2vw; position: absolute; 
}

/*.frac span.bottom {
	border-top: thin solid black;
}*/

.hr-line{
	margin: 1px 0.5vw; top: 4vw; width: 6vw; position: absolute; height: 2px; background-color: black;
}
.topfrac{top: 0px; }
.bottom{ top: 4.4vw; position: absolute;}
.frac span.symbol {
	display: none;
}



.compareop{
	display: inline-block; position: relative; vertical-align: middle; text-align: center; letter-spacing: 0.001em; top: 10px;

}

.cross-line{
	width: 5vw; height: 1.5px; background: black; position: absolute; z-index: 110; 
}

#crossline1{
	top: 0.5vw; left: 4vw;
}
#crossline2{
	top: 4.5vw; left: 4vw;
}
#crossline3{
	top: 0.5vw; left: 12.9vw;
}
#crossline4{
	top: 4.5vw; left: 12.9vw;
}




#crosslineDen1{
	top: 2.5vw; left: 4vw;
}
#crosslineDen2{
	top: 4.5vw; left: 4vw; display: none;
}

#crosslineDen3{
	top: 0.5vw; left: 12.9vw;
}
#crosslineDen4{
	top: 4.5vw; left: 12.9vw;
}




#crossline201{
	top: 0.5vw; left: 8.7vw;
}
#crossline202{
	top: 4.5vw; left: 8.7vw;
}
.question-box{
	position: absolute; width: 6vw; height: 4vw;  z-index: 111;
}
.sign-box{
	position: absolute; width: 4vw; height: 4vw;  z-index: 111; top: 2.5vw; left: 8.3vw; /*background-color: red;*/
}
#questionbox1{
	top: -1vw; left: 3.5vw;
}
#questionbox2{
	top: 3vw; left: 3.5vw;
}
#questionbox3{
	top: -1vw; left: 12.5vw;
}
#questionbox4{
	top: 3vw; left: 12.5vw;
}



#questionboxDen1{
	top: 1vw; left: 3.5vw;
}
#questionboxDen2{
	top: 3vw; left: 3.5vw; display:  none;
}
#questionboxDen3{
	top: -1vw; left: 12.5vw;
}
#questionboxDen4{
	top: 3vw; left: 12.5vw;
}




#questionbox201{
	top: -1vw; left: 8vw; 
}
#questionbox202{
	top: 3vw; left: 8vw; 
}

.answer-box{
	position: absolute; width: 3.5vw; height: 3.5vw; background-color: blue; z-index: 112; display: flex; align-items: center; justify-content: center;
	color: yellow; font-size: 3vw;
}

#answerbox1{
	top: -4vw; left: 3vw;
}
#answerbox2{
	top: 5.5vw; left: 3vw;
}
#answerbox3{
	top: -4vw; left: 16vw;
}
#answerbox4{
	top: 5.5vw; left: 16vw;
}


#answerboxDen1{
	top: -2vw; left: 3vw;
}
#answerboxDen2{
	top: 5.5vw; left: 3vw; display: none;
}
#answerboxDen3{
	top: -4vw; left: 16vw;
}
#answerboxDen4{
	top: 5.5vw; left: 16vw;
}





#answerbox201{
	top: -4vw; left: 12vw;
}
#answerbox202{
	top: 5.5vw; left: 12vw;
}
#fraction-click {
	 left: 30vw; z-index: 80; width: 22vw; height: 8vw; position: relative; top: calc(85vh - 21vw); top: -webkit-calc(85vh - 21vw);
}

/*@-webkit-keyframes enteranimation{
	0% {top: 12vw;}
	100% {top: 18vw;}
}
@keyframes enteranimation{
	0% {top: 12vw;}
	100% {top: 18vw;}
}
*/

@-webkit-keyframes enteranimation{
	0% {top: 12vw;}
	100% {top: -webkit-calc(85vh - 26.2vw);}
}
@keyframes enteranimation{
	0% {top: 12vw;}
	100% {top: calc(85vh - 26.2vw)}
}

@-webkit-keyframes swipeanimation{
	0% {left: 53%;}
	100% {left: 65%;}
}
@keyframes swipeanimation{
	0% {left: 53%;}
	100% {left: 65%;}
}

@-webkit-keyframes animationtop0{
	from{top: 26vh; opacity: 0}
	to{top: 54vh; opacity: 1}
}

@keyframes animationtop0{
	from{top: 26vh; opacity: 0}
	to{top: 54vh; opacity: 1}
}

@-webkit-keyframes animationtop1{
	from{opacity: 0}
	to{opacity: 1}
}

@keyframes animationtop1{
	from{ opacity: 0}
	to{ opacity: 1}
}


