.keyboardcontaioner{
	position: absolute; width: 100%; bottom: 10px; height: 15vh;  display: table; border-spacing: 3%; z-index: 100;
}
.keyboard{
	display: table-cell; background-size: 70% auto; background-repeat: no-repeat; background-position: center; 
}

.keypng4{
	position: absolute; background-size: 100% 100%; width: 7vw; height: 6vw; background-image: url("../img/divide.png");
	bottom: 30vh; right: 1vw; z-index: 50;
}

.keypng3{
	position: absolute; background-size: 100% 100%; width: 7vw; height: 6vw; background-image: url("../img/negative.png");
	bottom: 18vh; right: 1vw; z-index: 50;
}
.girlpng{
	position: absolute; bottom: 14vh; width: 13.5vw; left: 72vw;
}

.catpng{
	position: absolute; bottom: 15vh; width: 14vw; left: 13vw; z-index: 29;
}

.left1png{
	position: absolute; left: 0px; width: 20vw; bottom: 10vh; z-index: 30;
}
.right2png{
	position: absolute; right: 0px; width: 20vw; bottom: 0vh; 
}

.cloudpng{
	position: absolute; left: 6vw; width: 32vw; top: 9vh; z-index: 20;
}

.starimg{
	position: absolute; width: 1.8vw; 
}
#starimg0{
	bottom: 30.5vh; right: 8.8vw;
}

#starimg1{
	bottom: 33.3vh; right: 8.9vw;
}
#starimg2{
	bottom: 36.5vh; right: 9.1vw;
}
#starimg3{
	bottom: 39.5vh; right: 9.2vw;
}
#starimg4{
	bottom: 42.5vh; right: 9.3vw;
}
#starimg5{
	bottom: 45.3vh; right: 9.6vw;
}
#starimg6{
	bottom: 48vh; right: 9.8vw;
}
#starimg7{
	bottom: 51.2vh; right: 10.2vw;
}
#starimg8{
	bottom: 54.3vh; right: 10.4vw;
}
#starimg9{
	bottom: 57vh; right: 10.7vw;
}

#starimg10{
	bottom: 59.8vh; right: 11vw;
}
#starimg11{
	bottom: 62.7vh; right: 11.3vw;
}
#starimg12{
	bottom: 65.6vh; right: 11.6vw;
}
#starimg13{
	bottom: 68.3vh; right: 11.9vw;
}
#starimg14{
	bottom: 71vh; right: 12.2vw;
}
#starimg15{
	bottom: 73.7vh; right: 12.5vw;
}
#starimg16{
	bottom: 76.6vh; right: 12.8vw;
}#starimg17{
	bottom: 79.3vh; right: 13.1vw;
}
#starimg18{
	bottom: 82.1vh; right: 13.4vw;
}#starimg19{
	bottom: 84.8vh; right: 13.7vw;
}





.blockContainer{position:relative; width: 100%; height: 78vh; }

#entercss{
	position: absolute; font-size: 3.5vw; display: flex; align-items: center; justify-content: center;
	width: 25vw; height: 10vw; z-index: 200; border-radius: 2vw; border: 1vw solid red; background-color: white;
	left: 51%; top: 6vw;
}
#enterpng{
	position: absolute; height: 13vw; z-index: 201; left: 59%; top: 12vw; 
	-webkit-animation: enteranimation 2s infinite; -webkit-animation-direction: alternate;
	animation: enteranimation 2s infinite; animation-direction: alternate;

}

#swipecss{
	position: absolute; font-size: 3.5vw; display: flex; align-items: center; justify-content: center;
	width: 25vw; height: 10vw; z-index: 200; border-radius: 2vw; border: 1vw solid red; background-color: white;
	left: 51%; top: 6vw;
}
#swipepng{
	position: absolute; height: 13vw; z-index: 201; left: 59%; top: 18vw; 
	-webkit-animation: swipeanimation 2s infinite; -webkit-animation-direction: alternate;
	animation: swipeanimation 2s infinite; animation-direction: alternate;

}

#enterclick{
	width: 17vw; height: 17vw;  background-image: url(../img/new/answer1.png); background-repeat: no-repeat; background-size: 100% 100%;
	display: flex; align-items: center; justify-content: center; font-size: 5vw; position: absolute; 
	left: 58%;  z-index: 50; bottom: calc(8vw - 7vh); bottom: -webkit-calc(8vw - 7vh);
}

#enterclick p{
	margin-left: -4vw; margin-bottom: 0px;
}

#enterclick1{
	width: 17vw; height: 11vw;  background-image: url(../img/new/answer.png); background-repeat: no-repeat; background-size: 100% 100%;
	display: flex; align-items: center; justify-content: center; font-size: 5vw; position: absolute; 
	left: 58%;  z-index: 50; bottom: calc(8vw - 7vh); bottom: -webkit-calc(8vw - 7vh);
}
#enterclick1 p{
	margin-left: -4vw; margin-bottom: 0px;
}

.porblemcontent{
	width: 22vw; height: 8vw; border-radius: 7px; background-color: #faf9fa; border: 3px solid #9a9897;	
	display: flex; align-items: center; justify-content: center;  position: absolute; 
    background: transparent; border-color: transparent; 
    transition:bottom 1s ease-in,width .2s ease-in,height .2s ease-in,border-color .2s ease-in,font-size .2s ease-in;
    /*font-size: 5vw;*/  font-size: 4.5vw;
}

#question{
	width: 29vw; height: 17vw; display: flex; align-items: center; justify-content: center; font-size: 5vw; position: absolute;
	background-image: url(../img/new/question1.png); background-color: transparent; border-radius: 0px !important;
	border: 0px solid transparent; background-repeat: no-repeat; background-size: 100% 100%; 
	left: 24%; z-index: 50; bottom: calc(8vw - 7vh); bottom: -webkit-calc(8vw - 7vh);
}
#question1{
	width: 29vw; height: 11vw; display: flex; align-items: center; justify-content: center; font-size: 5vw; position: absolute;
	background-image: url(../img/new/problem.png); background-color: transparent; border-radius: 0px !important;
	border: 0px solid transparent; background-repeat: no-repeat; background-size: 100% 100%; 
	left: 24%; z-index: 50; bottom: calc(8vw - 7vh); bottom: -webkit-calc(8vw - 7vh);
	
}


.frac{
	display: inline-block; position: relative; vertical-align: middle; text-align: center; letter-spacing: 0.001em; width: 6.5vw; height: 8.5vw;
}

.frac >span {
	display: block;	padding: 0.1em; width: 6.5vw; position: absolute; 
}

/*.frac span.bottom {
	border-top: thin solid black;
}*/

.hr-line{
	margin: 1px 0px; top: 4vw; width: 6vw; position: absolute; height: 1.5px; background-color: black;
}
.topfrac{top: 0px; }
.bottom{ top: 4.4vw; position: absolute;}
.frac span.symbol {
	display: none;
}



.compareop{
	display: inline-block; position: relative; vertical-align: middle; text-align: center; letter-spacing: 0.001em; top: 10px;

}

.cross-line{
	width: 5vw; height: 1.5px; background: black; position: absolute; z-index: 110; 
}

#crossline1{
	top: 2vw; left: 4vw;
}
#crossline2{
	top: 6vw; left: 4vw;
}
#crossline3{
	top: 2vw; left: 12.9vw;
}
#crossline4{
	top: 6vw; left: 12.9vw;
}
.question-box{
	position: absolute; width: 6vw; height: 4vw;  z-index: 111;
}
.sign-box{
	position: absolute; width: 4vw; height: 4vw;  z-index: 111; top: 2.5vw; left: 8.3vw; /*background-color: red;*/
}
#questionbox1{
	top: 0; left: 3.5vw;
}
#questionbox2{
	top: 4vw; left: 3.5vw;
}
#questionbox3{
	top: 0vw; left: 12.5vw;
}
#questionbox4{
	top: 4vw; left: 12.5vw;
}

.answer-box{
	position: absolute; width: 3.5vw; height: 3.5vw; background-color: blue; z-index: 112; display: flex; align-items: center; justify-content: center;
	color: yellow; font-size: 3vw;
}

#answerbox1{
	top: -2.5vw; left: 3vw;
}
#answerbox2{
	top: 7vw; left: 3vw;
}
#answerbox3{
	top: -2.5vw; left: 16vw;
}
#answerbox4{
	top: 7vw; left: 16vw;
}
#fraction-click {
	 left: 30vw; z-index: 80; width: 22vw; height: 8vw; position: relative; top: calc(85vh - 21vw); top: -webkit-calc(85vh - 21vw);
}

@-webkit-keyframes enteranimation{
	0% {top: 12vw;}
	100% {top: 18vw;}
}
@keyframes enteranimation{
	0% {top: 12vw;}
	100% {top: 18vw;}
}

@-webkit-keyframes swipeanimation{
	0% {left: 53%;}
	100% {left: 65%;}
}
@keyframes swipeanimation{
	0% {left: 53%;}
	100% {left: 65%;}
}

@-webkit-keyframes animationtop0{
	from{top: 26vh; opacity: 0}
	to{top: 54vh; opacity: 1}
}

@keyframes animationtop0{
	from{top: 26vh; opacity: 0}
	to{top: 54vh; opacity: 1}
}

@-webkit-keyframes animationtop1{
	from{opacity: 0}
	to{opacity: 1}
}

@keyframes animationtop1{
	from{ opacity: 0}
	to{ opacity: 1}
}


