.level-explain-main{
	width: 100vw; height: 100vh; text-align: center; position: absolute; top: 0px; left: 0px; background-color: rgba(0,0,0,0.5);
	z-index: 200; justify-content: center; display: flex; align-items: center; -webkit-display: flex;
}

#real-explain{
	position: relative; width: 100%;  top: 0%; left: 100%;
}

.level-popup-close {
	position: absolute; width: 6vw; height: 6vw; top: 4.5vw; left: 76vw; background-image: url("../img/title/close.png");
	background-size: 100% 100%;
}

.level-popup-aa{
	width: 72%; margin-top: 2vw;
}

.level-popup-title{
	position: absolute; width: 30vw; left: 33.5vw; top: 4.5vw;
}

.level-popup-content{
	position: absolute; width: 56vw; left: 20vw; top: 11.5vw;
}

.level-popup-targetnumber{
	position: absolute; width: 12vw; left: 22.5vw; top: 26vw;
}

.level-popup-targettime {
	position: absolute; width: 12vw; left: 61.5vw; top: 26vw;
}

.level-popup-continue {
	position: absolute; width: 17.5vw; left: 38.5vw; top: 35.5vw;
}